@model IEnumerable<WorkWithKOTE.Models.DopUslug>
@{
    Layout = null;
}
<div id="options">
    @{
        int i = 0;
    }
    <ul style="list-style:none">
        @foreach (var item in Model)
        {
            if (item.Price != 0)
            {
                string name = "ItemChecked" + i;

                <li class="dopu" id="options">
                    <input type="checkbox" class="css-checkbox" name="Item" value="@item.DopUslugId" id="@name" data-price="@item.Price" onclick=" Check() " />
                    <label for="@name" class="css-label"> @item.Name&nbsp;(@item.Price)</label>
                </li>

                i++;
            }
        }
    </ul>
</div>

<script>
    $(function(){
         if ($('#bar').width() <= 800) {
             $('.dopu').css('min-height','80px');
         }
         else {
             $('.dopu').css('min-height', '40px');
         }

         $(window).resize(function () {
             if ($('#bar').width() <= 800) {
                 $('.dopu').css('min-height', '80px');
             }
             else {
                 $('.dopu').css('min-height', '40px');
             }
         });
    });
</script>

