@model IEnumerable<WorkWithKOTE.Models.DopUslug>
@{
    Layout = null;
}
<div id="options">
    @{
        int i = 0;
    }
    @foreach (var item in Model)
    {
        if (item.Price != 0)
        {
            string name = "ItemChecked" + i;
            <div id="options">
                @*  @Html.CheckBox(iteam.Name, new { price = iteam.Price })*@
                <input type="checkbox" class="css-checkbox" name="Item" value="@item.DopUslugId" id="@name" data-price="@item.Price" onclick=" Check() "/>
                <label for="@name" class="css-label"> @item.Name&nbsp;(@item.Price)</label>
            </div>
            i++;
        }
    }
</div>

