@{
    ViewBag.Title = "Index";
}
@model WorkWithKOTE.Models.BuyTour
<h2>@ViewBag.Titleof</h2>
<form action="@Url.Action("Index")" method="post">
    Стоимость Тура : @ViewBag.TourPrices<br/>
    Сумма заказа с учетом изменений :@Html.TextBoxFor(m => m.Trips.TourPrice, new {id="Prices",@readonly = "readonly"})
    К Оплате :@Html.TextBoxFor(m => m.Trips.TourPrice, new { id = "Prices", @readonly = "readonly" }) <br />
    <div id="options">
        @foreach (var iteam in Model.Uslugi)
        {
            if (iteam.Price != 0)
            { <div>
                @iteam.Name
                @Html.CheckBox(iteam.Name, new { price = iteam.Price })
            </div>
            }
        }
    </div>
    Количество человек: @Html.TextBoxFor(m => m.Trips.AmtPeople)<br/>
    Дата :@Html.DropDownList("DateTourId")<br/>
    <h2>Введите свои данные </h2>
    Ваш пол 
    <select name="Trips.Sex">
        <option>Муж.</option>
        <option>Жен.</option>
    </select><br />
    Фамилия: @Html.TextBoxFor(m => m.Trips.Surname)<br/>
    Имя :@Html.TextBoxFor(m => m.Trips.Name)<br/>
    Отчество: @Html.TextBoxFor(m => m.Trips.FatherName)<br/>
    Дата Рождение @Html.TextBoxFor(m => m.Trips.BirthDay)<br/>
    Гражданство:@Html.TextBoxFor(m => m.Trips.Citizenship)<br/>
    Номер и Серия Паспорта: @Html.TextBoxFor(m => m.Trips.Pasport)<br/>
    <h2>Контакты</h2>
    Номер телефона :@Html.TextBoxFor(m => m.Trips.mobile)<br/>
    Почтовый ящик : @Html.TextBoxFor(m =>m.Trips.email, new { type = "Email" })
    <input type="submit" value="Заказать тур" />
</form>
@section scripts{
<script type="text/javascript">
    $(function () {
        var sum0 = parseFloat($("#Prices").val());
        var sumFunction = function () {
            var sum = sum0;
            $('#options input[type=checkbox]:checked').each(function (i, v) {
                sum += parseFloat($(v).attr('price'));
            });
            $("#Prices").val(sum);
        };
        $('#options input[type=checkbox]').click(sumFunction);
    })
</script>

}