@{
    ViewBag.Title = "kote.travel - Бронь и оплата";
}
@Styles.Render("~/Content/order")

@model WorkWithKOTE.Models.Trip
@{ Html.RenderPartial("HeaderPartial_main");}
<script src="~/Content/js/plugins/mask/jquery.maskedinput.min.js" type="text/javascript"></script>

<style>
    #toPay {
        margin-top: 20px;
    }

    .orderContent {
        margin-top: 8px;
    }

    #finalPrice {
        border: none;
        background: none;
        display: inline;
        width: 202px;
        text-align: right !important;
    }

    .layout-right-column {
        /* margin-top: -145px;
         width: 360px !important;
        margin-right: 15%;*/
    }

    .layout-main {
        /*margin-left: 10%;
        margin-top: 40px;*/
    }

    .enterData {
        margin-top: 170px;
        /*margin-left: 10%;*/
    }

    .contactData {
        /*margin-left: 10%;*/
    }

    .firstHR {
        width: 50%;
    }

    .secondHR {
        width: 93%;
    }

    .active {
        margin-left: 35px;
        border-radius: 4px;
        background-color: #ff6f40;
        border: 1px solid #ff6f40;
        color: white;
        height: 35px;
    }

    .notActive {
        cursor: default !important;
        background-color: #cccccc;
        border: 1px solid #cccccc;
        color: white;
        height: 35px;
        margin-left: 35px;
        border-radius: 4px;
    }

    #agree {
        display: inline;
    }

    #agreeLabel {
        color: #ff6f40;
        text-decoration: underline;
    }

    .container {
        margin-left: 21%;
    }
</style>

<div id="small-preview-img" class="clearfix">
    <hgroup>
        <h1>@ViewBag.Titleof</h1>
        <h2>
            <a href="@Url.Action("Index", "Home")">Главная</a> / <span id="currentZ">Бронь и Оплата</span>
        </h2>
    </hgroup>
</div>
<div class="container">
    <form class="buyTour" action="@Url.Action("Index")" method="post" enctype="multipart/form-data">
        @Html.ValidationSummary()

        <div class="layout">
            <div class="layout-right-column">
                <h4 id="uslugaText">Дополнительные услуги:</h4>
                <p>
                    @*                     Кол-во человек <input value="@Model.AmtPeople" name="AmtPeople" id="user_num" type="number" min="1" max="100" step="1" />*@
                    Дата :@Html.DropDownList("DateTourId")
                </p><br />

                @*        <input type="checkbox" id="meal1" class="css-checkbox" style="margin-top: 4px;" />*@
                @*           <label for="meal1" class="css-label">Питание 2 раза в день (+250 грн.)</label>*@
                @*        <input type="checkbox" id="meal2" class="css-checkbox" style="margin-top: 4px;" />*@
                @*           <label for="meal2" class="css-label">Экскурсия по городу (+500 грн.)</label>*@
                @*        <input type="checkbox" id="meal3" class="css-checkbox" style="margin-top: 4px;" />*@
                @*           <label for="meal3" class="css-label">Без питания (-100 грн.)</label>*@
                @{Html.RenderAction("DopPricePartial", new { id = Model.TourId });}
                @*      <div>*@
                @*         <select>*@
                @*            <option>Хостел</option>*@
                @*            <option>Гостинница</option>*@
                @*         </select>*@
                @*         <select id="transport">*@
                @*             <option>Автобус</option>*@
                @*         </select>*@
                @*      </div>*@
            </div>
            <div class="layout-main">
                <h3 id="orderText">Состав заказа</h3><hr class="firstHR" />

                <p class="orderContent">Стоимость тура&nbsp;:@ViewBag.TourPrices&nbsp;@Html.DisplayFor(m => m.Valuta)</p>
                @Html.HiddenFor(m => m.Valuta)

                <p class="orderContent">Сумма заказа с учетом изменений&nbsp;:<span data-euro="@ViewBag.valutaEuro" data-usd="@ViewBag.valutaUSD" data-valute="@Html.DisplayFor(m => m.Valuta)" id="Prices">@Html.DisplayFor(m => m.TourPrice, new { id = "Prices" })</span>&nbsp;@Html.DisplayFor(m => m.Valuta)</p>
               
                @if (User.Identity.IsAuthenticated)
                {
                    if (@Model.BonusPay > 0 && @ViewBag.UsersBonus > 0)
                    {
                     <p class="orderContent">
                         <span data-can="@Model.BonusPay" id="canuse">Можно списать @Model.BonusPay бонусых баллов</span>
                     </p>
                     <p class="orderContent">
                        <label for="useBonus">Использовать Ваш бонус</label>
                        <input style="display:inline;" id="useBonus" type="checkbox" />
                        <input readonly style="border:none;width:70px;display:inline-block" id="bonusField" type="text" value="@ViewBag.UsersBonus" />UAH
                     </p>
                    }  
                } 
                  <p class="orderContent" id="toPay">К оплате:&nbsp;<input readonly="readonly" id="finalPrice" name="TourPrice" value="@Model.TourPrice" />&nbspUAH</p>
            </div>
        </div>
        <div class="layout">
            <h3 id="yourData"> Введите свои данные</h3><hr class="secondHR" />

            <div class="info">
                <label>Ваш пол</label>
                <select id="gender" name="Trips.Sex">
                    <option>Муж</option>
                    <option>Жен</option>
                </select>
            </div>
            <div class="info">
                <label id="fio">ФИО</label>
                <input placeholder="Фамилия" name="Surname" value="@Model.Surname" id="surname">
                <input placeholder="Имя" name="Name" value="@Model.Name" id="name">
                <input placeholder="Отчество" name="FatherName" value="@Model.FatherName" id="second-name">
            </div>
            <div id="dateB" class="info">
                <label>Дата рождения</label>
                @if (Model.BirthDay.HasValue)
                {
                     <input name="BirthDay"  value="@Model.BirthDay.Value.ToString("dd.MM.yyyy")" id="date-of-birth" placeholder="__ . __ . ____" maxlength="10">
                }
                else{
                <input name="BirthDay"  id="date-of-birth" placeholder="__ . __ . ____" maxlength="10">
                }
            </div>
        </div>
        <div class="layout">
            <div class="info">
                <label>Гражданство</label>
                <input value="@Model.Citizenship" name="Citizenship" id="nationality">
            </div>
            <div class="info">
                <label>Паспорт</label>
                <input value="@Model.Pasport" name="Pasport" id="passport" placeholder="АН 000000" maxlength="9">
            </div>
            <div id="textLong" class="info" style=" float: right">
                <p id="stupidText" style="width: 350px; text-align: left; color:gray">  Ваша личная информация никогда не будет разглашена или передана третьим лицам без Вашего на то прямого согласия.</p>
            </div>
        </div>
        <div class="layout">
            <div class="info">
                <p id="contactData">Контактные данные:</p>
            </div>
            <div class="info">
                <label>Номер телефона</label>
                <input style="width:100%;" value="@Model.mobile" name="mobile" placeholder="+38 (___) ___-__-__" type="tel" required>
            </div>
            <div class="info">
                <label>Почта</label>
                <input style="width:100%;" value="@Model.email" name="email" placeholder="user000@mail.com" required>
            </div>
            <div id="Clone" class="info" style=" float: right;display:none">
                <p id="" style="width: 100%; text-align: left; color:gray">  Ваша личная информация никогда не будет разглашена или передана третьим лицам без Вашего на то прямого согласия.</p>
            </div>
        </div>
        <input type="hidden" name="DateTrip" value="@DateTime.Now" />
        <div class="layout">
            <div id="i-agree">
                <input id="agree" type="checkbox">
                <label id="agreeLabel" for="agree">Cогласен с условиями</label>
            </div>
            <input type="submit" disabled value="Перейти к оплате" id="orderTour" class="notActive" />
        </div>
        @Html.HiddenFor(m => m.BonusPay)
        <br />
    </form>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        //        function Changes() {
        //            var AmtPeople = parseFloat($('#AmtPeople').val());
        //            var price = parseFloat($("#Prices").val());
        //            var sum = price * AmtPeople;
        //            $("#Prices").val(sum);
        //            $('#FinalPrice').val(sum);
        //        }
        $(function () {
            $('#agree').change(function () {
                if ($(this).is(':checked')) {
                    $('#orderTour').removeClass('notActive').addClass('active').prop('disabled', false);
                } else {
                    $('#orderTour').removeClass('active').addClass('notActive').prop('disabled', true);
                }
            });
        });
    </script>
    <script type="text/javascript">
        var sum0 = $("#Prices").text();
        sum0 = parseFloat(sum0);
        function sumFunction() {
            var sum = sum0;
            $('#options input[type=checkbox]:checked').each(function (i, v) {
                sum += parseFloat($(v).attr('data-price'));
            });
            $("#Prices").text(sum);
            $('#useBonus').prop('checked', false);

            if ($('#Prices').attr('data-valute') == 'USD') {
                $('#finalPrice').val((sum * $('#Prices').attr('data-usd')).toFixed(2));
            }

            else if ($('#Prices').attr('data-valute') == 'EUR') {
                     $('#finalPrice').val((sum * $('#Prices').attr('data-euro')).toFixed(2));
            }

            else {
                $("#finalPrice").val(sum);
            }
        };
        function Check() {
            sumFunction();
        }
    </script>

    <script>

        function OrderView() {
            if ($('#bar').width() <= 700) {
                $('.layout-right-column').css({ 'float': 'none', 'width': '100%' });
                $('#uslugaText').text('Доп. услуги:');
                $('#orderText').css('margin-top', '20px');
                $('#surname,#name,#second-name').css({ 'display': 'block', 'float': 'none', 'min-width': '190px', 'margin-top': '19px' });
                $('#stupidText').css({ 'width': '100%' });
                $('.info').css({ 'margin-top': '15px' });
                $('#orderTour').css({ 'margin-left': '0px' });
                $('#contactData,#fio').hide();
                $('#i-agree').css({ 'margin-bottom': '15px', 'margin-top': '15px' });
                $('#finalPrice').css('text-align', 'left', 'width', '58px');
                $('.firstHR').css({ 'width': '100%' });
                $('h3').css('font-size', '18px', 'font-weight', '600');
                $('#yourData').css({ 'margin-top': '30px' });
                $('#gender').css({ 'min-width': '190px', 'margin-bottom': '-15px' });
                $('#date-of-birth,#nationality,#passport').css({ 'min-width': '190px' });
                $('#dateB').css('margin-top', '10px');
                $('#finalPrice').css({ 'width': '70px' });
                $('#stupidText').hide();
                $('#Clone').show();
            }
            else {
                $('#Clone').hide();
                $('#stupidText').show();
                $('.layout-right-column').css({ 'float': 'right', 'width': 'auto' });
                $('#uslugaText').text('Дополнительные услуги:');
                $('#orderText').css('margin-top', '0px');
                $('#stupidText').css({ 'width': '350px' });
                $('.info').css({ 'margin-top': '0px' });
                $('#surname,#name,#second-name').css({ 'display': 'inline', 'float': 'left', 'min-width': '120px', 'margin-top': '0px' });
                $('#orderTour').css({ 'margin-left': '15px' });
                $('#contactData,#fio').show();
                $('#i-agree').css({ 'margin-bottom': '0px', 'margin-top': '0px' });
                $('#finalPrice').css('text-align', 'center', 'width', 'auto');
                $('.firstHR').css({ 'width': '50%' });
                $('h3').css('font-size', 'font-size: 1.5em', 'font-weight', '600');
                $('#yourData').css({ 'margin-top': '0px' });
                $('#gender').css({ 'min-width': 'auto', 'margin-bottom': '0px' });
                $('#date-of-birth,#nationality,#passport').css({ 'min-width': '120px' });
                $('#dateB').css('margin-top', '0px');
                $('#finalPrice').css({ 'width': '202px' });
            }

            if ($('#bar').width() <= 1200) {
                $('#dateB').css('margin-top', '20px');
            }
            else {
                $('#dateB').css('margin-top', '0px');
            }

        }

        $(function ()
        {

            jQuery(function ($) {
                $("input[name='mobile']").mask("+38(999) 999 - 99 - 99", { placeholder: " " });
            });

            var price      = parseFloat($('#Prices').val());
            var finalPrice = parseFloat($('#finalPrice').val());

            if ($('#Prices').attr('data-valute') == 'USD') {
                $('#finalPrice').val((finalPrice * $('#Prices').attr('data-usd')).toFixed(2));
            }

            if ($('#Prices').attr('data-valute') == 'EUR') {
                $('#finalPrice').val((finalPrice * $('#Prices').attr('data-euro')).toFixed(2));
            }

            OrderView();

            $(window).resize(function () {
                OrderView();
            });


            $('#useBonus').change(function ()
            {
                if ($(this).is(':checked'))
                {
                    if (parseFloat($('#finalPrice').val()) >= parseFloat($('#bonusField').val())) {
                        if (parseFloat($('#bonusField').val()) < parseFloat($('#canuse').attr('data-can'))) {
                            $('#finalPrice').val(($('#finalPrice').val() - $('#bonusField').val()).toFixed(2));
                        }
                        else {
                            $('#finalPrice').val(($('#finalPrice').val() - $('#canuse').attr('data-can')).toFixed(2));
                        }
                        
                    }
                }
                else {
                    if (parseFloat($('#bonusField').val()) < parseFloat($('#canuse').attr('data-can'))) {
                        $('#finalPrice').val((parseFloat($('#finalPrice').val()) + parseFloat($('#bonusField').val())).toFixed(2));
                    }
                    else {
                        $('#finalPrice').val((parseFloat($('#finalPrice').val()) + parseFloat($('#canuse').attr('data-can'))).toFixed(2));
                    }
                }
            });
        });
    </script>
}