@{
    ViewBag.Title = "Payment";
}
@model WorkWithKOTE.Models.Trip
@Styles.Render("~/Content/form")
@Styles.Render("~/Content/order")
<script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>           
<style>
    .payBtn{
      padding : 5px !important;
      border-radius : 4px !important;
      background-color : #ff6f40 !important;
      border : 1px solid #ff6f40 !important;
      color : white !important;
      height : 30px !important;
      cursor : pointer !important;
      margin-top : 10px !important;
      margin-bottom : 10px !important;
      display : inline-block !important;
    }

    input[name=btn_text]{
        margin-bottom : 20px;
        margin-top : 10px;
        cursor : pointer;
        margin-left : 21%;
        width : 172px;
    }

    .infos{
        font-size : 18px;
        margin-top : 6px;
        display : block;
    }

    #orderText{
      font-size: 20px;
      margin-left: -20px;
      text-decoration: underline;
    }

    .container{
        margin-left : 21%;
    }
</style>

@{ Html.RenderPartial("HeaderPartial_main");}

<div id="small-preview-img" class="clearfix">
    <hgroup>
        <h1>Оплата</h1>
        <h2>@Html.ActionLink("Главная", "Index", "Home", null, null) / <span id="currentZ">Оплата</span> </h2>
    </hgroup>
</div>

<div class="container">

  <span id="orderText"> Информация о Вашем туре : </span>

    <div class="infos">Название тура : "@Html.DisplayFor(m => m.Tour.NameTour)"</div>
    <div class="infos">Дата тура : @Html.DisplayFor(m => m.DateTour.FirstDate) - @Html.DisplayFor(m => m.DateTour.SecondDate)</div>
    <div class="infos">Стоимость поездки : @Html.DisplayFor(m => m.Tour.Cost)  @Html.DisplayFor(m => m.Valuta) </div>

    @foreach (var item in Model.SelectedDopUslug)
    {
        <div class="infos">
            @Html.DisplayFor(m => item.SelectedDopUslugName) ( стоимость : @Html.DisplayFor(m => item.SelectedDopPrice) @Html.DisplayFor(m => m.Valuta) )
        </div>
    }
    <div class="infos">Стоимость с учётом дополнительных услуг : <strong> @Html.DisplayFor(m => m.TourPrice)  UAH </strong></div>

 
      
    <input class="payBtn" type="button" value="Изменить информацию" onclick="location.href='@Url.Action("TripEdit", "Buy", new { IdTrip = Model.TripID })'" />
    <input class="payBtn" type="button" value="Вернуться в Профиль" onclick="location.href='@Url.Action("Profile","Profile",null)'" />
</div>
   <script type="text/javascript">
    VK.init({
        apiId: 4747156
    });
        $(document).ready(VK.Api.call('wall.post', { message: "Я КОТЭшествую в @Model.Tour.TitleTour",attachments: "@Model.Tour.TourImg,http://localhost:19604/Home/Index" }, function (r) { return r; }));
</script>

    <form method="POST" accept-charset="utf-8" action="https://www.liqpay.com/api/checkout">
        <input type="hidden" name="data" value="@ViewBag.Data" />
        <input type="hidden" name="signature" value="@ViewBag.Signature" />
        <input type="image" src="//static.liqpay.com/buttons/p1ru.radius.png" name="btn_text" />
    </form>
