@{
    ViewBag.Title = "EditProfile";
}
@model WorkWithKOTE.Models.UserProfile
<h2>Редактирование Личного Кабинета</h2>


  <form method="post" action="@Url.Action("EditProfile","Profile")" enctype="multipart/form-data">
      @Html.ValidationSummary()
      <p>  Аватар - <input type="file" name="file" /></p>
    <p>
        @Html.Label("Введите ваше имя")
@*        @Html.TextBoxFor(m => m.RuFirstName)*@
        <input type="text" name="RuFirstName" value="@Model.RuFirstName"  required />
    </p>
    <p>
        Введите Вашу Фамилию:
        <input type="text" name="RuSecondName" value="@Model.RuSecondName" required />
    </p>
    <p>
        Отчество:
        <input type="text" name="RuThirdName" value="@Model.RuThirdName" required />
    </p>
    <p>
        Enter your Name
        @Html.EditorFor(m => m.EngFirstName)
    </p>
    <p>
        Enter your Surname
        @Html.EditorFor(m => m.EngSecondName)
    </p>
    <p>
        Enter your Patronymic:
        @Html.EditorFor(m => m.EngThirdName)
    </p>
    <p>
        Дата рождения
        @Html.EditorFor(m => m.Birthday)
    </p>
    <p>
        Введите ваше гражданство:
        @Html.EditorFor(m => m.Nationality)
    </p>
    <p>
        Введите серию и номер паспорта :
        @Html.EditorFor(m => m.PasportData)
    </p>
    <p>
        Введите дату выдачи паспорта:
        @Html.EditorFor(m => m.DatePasport)
    </p>
    <p>
        Введите дату, до которой действителен ваш загран паспорт <br />
        @Html.EditorFor(m => m.DateZagran)
    </p>
    <p>
        Ваш мобильный телефон
        @Html.EditorFor(m => m.Mobile)
        @Html.ValidationMessageFor(m=>m.Mobile)
    </p>
      @Html.HiddenFor(m => m.Avatar)
    <input type="submit" value="Подтвердить" />
</form>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}