@{
    ViewBag.Title = "kote.travel - Редактировать профиль";
}
@model WorkWithKOTE.Models.UserProfile
@Styles.Render("~/Content/form")
@Styles.Render("~/Content/order")

<script src="~/Content/js/plugins/mask/jquery.maskedinput.min.js" type="text/javascript"></script>

<style>
     #avatar,#Name,#secname,#thirdname,#e_name,#e_secname,#e_thirdname,#birthDate,#Nationality,
     #pasport,#pasportDate,#pasportDateExp,#mobilePhone{
        clear:both; text-align:right;
    }

    #form_tour input[type=text],#form_tour input[type=file]{
        margin-left : 5px;
    }

    .labels,label,#form_tour{
        float : left;
    }

    #form_tour input[type=date] {
     margin-top : 6px;
     width : 53%;
    }

    .labels{
        margin-top : 8px;
    }

    label{
        margin-top : 12px;
        cursor : pointer;
    }

     #form_tour{
        margin-left : 11.7%;
    }

     #accept{
      padding : 4px;
      border-radius : 4px;
      background-color : #ff6f40;
      border : 1px solid #ff6f40;
      color : white;
      height : 30px;
      cursor : pointer;
      margin-top : 10px;
      margin-bottom : 10px;
    }

     input#Nationality{
         text-align : left;
     }

</style>

@{ Html.RenderPartial("HeaderPartial_main");}

<div id="small-preview-img" class="clearfix">
    <hgroup>
        <h1><span class="editing">Редактирование</span> личного кабинета</h1>
        <h2>@Html.ActionLink("Главная", "Index", "Home", null, null) / <span class="editing">Редактирование</span> личного кабинета </h2>
    </hgroup>
</div>

<div class="container">
    <form method="post" action="@Url.Action("EditProfile","Profile")" enctype="multipart/form-data">
        @Html.ValidationSummary()

        <div id="form_tour">

            <div class="loginEl" id="Name">
                <span class="labels">Имя:</span>
                <input type="text" name="RuFirstName" value="@Model.RuFirstName" required />
            </div>

            <div class="loginEl" id="secname">
                <span class="labels">Фамилия:</span>
                <input type="text" name="RuSecondName" value="@Model.RuSecondName" required />
            </div>

            <div class="loginEl" id="thirdname">
                <span class="labels">Отчество:</span>
                <input type="text" name="RuThirdName" value="@Model.RuThirdName" required />
            </div>

            <div class="loginEl" id="e_name">
                <span class="labels">Name:</span>
                @Html.EditorFor(m => m.EngFirstName)
            </div>


            <div class="loginEl" id="e_secname">
                <span class="labels">Surname:</span>
                @Html.EditorFor(m => m.EngSecondName)
            </div>

            <div class="loginEl not_import" id="e_thirdname">
                <span class="labels">Patronymic:</span>
                @Html.EditorFor(m => m.EngThirdName)
            </div>

            <div class="loginEl" id="birthDate">
                <span class="labels"><span id="Dbirth">Дата рождения</span>:</span>
                <input type="text" class="newDate" name="Birthdays" value="@Model.Birthday.Value.ToString("dd.MM.yyyy")" />
            </div>

            <div class="loginEl not_import" id="Nationality">
                <span class="labels">Гражданство:</span>
                @Html.EditorFor(m => m.Nationality)
            </div>

            <div class="loginEl" id="pasport">
                <span class="labels">Паспорт:</span>
                @Html.EditorFor(m => m.PasportData)
            </div>

            <div class="loginEl not_import" id="pasportDate">
                <span class="labels">Дата выдачи паспорта:</span>
                <input type="text" class="newDate" name="DatePasports" value="@String.Format("{0:dd.MM.yyyy}", Model.DatePasport)">
            </div>

            <div class="loginEl not_import" id="pasportDateExp">
                <span class="labels">Действителен до:</span>
                <input type="text" class="newDate" name="DateZagrans" value="@String.Format("{0:dd.MM.yyyy}", Model.DateZagran)" />
            </div>
            <div class="loginEl not_import" id="mobilePhone">
                <span class="labels">Мобильный:</span>
                @Html.EditorFor(m => m.Mobile)
                @Html.ValidationMessageFor(m => m.Mobile)
            </div>

            <div class="loginEl not_import" id="avatar">
                <span class="labels">Выберите фото:</span>
                <input type="file" name="file" />
                @Html.HiddenFor(m => m.Avatar)
            </div> 

            <input id="accept" type="submit" value="Подтвердить" />

        </div>
    </form>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(function ()
    {

        $('.newDate').mask("99.99.9999");
        jQuery(function ($) {
            $("#Mobile").mask("+38(999) 999 - 99 - 99", { placeholder: " " });
        });

        if ($('#bar').width() <= 800) {
            $('.not_import').hide();
            $('.editing').text('Редактор');
            $('#Dbirth').text('Д.Рожд');
        }
        else {
            $('.not_import').show();
            $('.editing').text('Редактирование');
            $('#Dbirth').text('Дата рождения');
        }

        $(window).resize(function ()
        {
            if ($('#bar').width() <= 800) {
                $('.not_import').hide();
                $('.editing').text('Редактор');
                $('#Dbirth').text('Д.Рожд');
            }
            else {
                $('.not_import').show();
                $('.editing').text('Редактирование');
                $('#Dbirth').text('Дата рождения');
            }
        });
    });
</script>