@{
    ViewBag.Title = "ForgotPassword";
}

@Styles.Render("~/Content/form")
@Styles.Render("~/Content/order")

<style>
   #recoverPass{
      padding: 6px;
      color: white !important;
      height : 30px;
      border-radius : 4px;
      background-color : #ff6f40;
      border : 1px solid #ff6f40;
      color : white;
      height : 30px;
      cursor : pointer;
      display: block;
      margin-top: 20px;
    }

   #form_tour{
       margin-left : 6%;
   }

   label{
       font-size : 17px;
   }

   .container{
       margin-bottom : 0px;
   }
</style>

@{ Html.RenderPartial("HeaderPartial_main");}

<div id="small-preview-img" class="clearfix">
    <hgroup>
        <h1>Восстановить пароль</h1>
        <h2>@Html.ActionLink("Главная", "Index", "Home", null, null) / Восстановить пароль </h2>
    </hgroup>
</div>

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <div class="container">
    <div id="form_tour">
        <div id="email">
            @Html.Label("E-mail : ", new { @for = "Email" })
            @Html.TextBox("Email")
            <input id="recoverPass" type="submit" value="Восстановить" /><br />
            <span style="color:red;">@TempData["Message"]</span>
        </div>     
    </div>
   </div>
}