@model WorkWithKOTE.Models.UserProfile
@{
    ViewBag.Title = "Личный кабинет";
}
@Styles.Render("~/Content/order")
@{ Html.RenderPartial("HeaderPartial_main");}

<style>
    .bonuses {
        max-width: 55px;
        display: inline-block;
    }

    #change-profile {
        margin-top: 19px;
    }
</style>
<div id="small-preview-img" class="clearfix">

    <hgroup>
        <h1>Личный кабинет</h1>

        <h2><a href="@Url.Action("Index","Home")">Главная </a> / Личный кабинет</h2>
    </hgroup>

</div>
<div class="container">
    <div class="additional-nav">
        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
        {
            <a href="@Url.Action("CreateNews", "News")">Создать&nbsp;новость&nbsp;</a>
            @*        <a href="#">Пользователи</a>*@
            <a href="@Url.Action("TourCreate", "TourCreate")">Создать&nbsp;тур&nbsp;</a>
            
            <a href="@Url.Action("CreateGallery", "Gallery")">Создать&nbsp;галерею&nbsp;</a>
            <a href="@Url.Action("LogOff", "Account")">Выход</a>
            @*        <a href="#">Бронь тура для агента</a>*@
            @*        <a href="#">Управление заявками</a>*@
        }
    </div>
    <div class="layout">
        <div class="layout-right-column">
            <div id="user-profile" style="height: 150px">
                <img style="margin-left:20px;" src="@Html.DisplayFor(m => m.Avatar)" class="tourist">

                <p>
                    Группа:
                </p>
                @if (ViewBag.UserRole != null)
                {
                    foreach (var item in ViewBag.UserRole)
                    {
                        <span id="user-position">@item</span>
                    }
                }
                <p>
                    Бонусы: <span id="user-bonuses">@Html.DisplayFor(m => m.Bonus)</span>&nbsp;грн.
                    @if (User.IsInRole("Admin"))
                    {
                        using (Ajax.BeginForm("BonusForUser", "Admin", new AjaxOptions { UpdateTargetId = "user-bonuses" }))
                        {
                            <input class="bonuses" type="text" id="bonus" name="UserBonus" />
                            <input type="hidden" name="UserId" value="@Model.UserId" />
                            <input class="bonuses" type="submit" value="Ok" />
                        }
                        <a class="button" style="float: none; width: 150px; margin: 9% 3% 0 0;" href='@Url.Action("RolesForUser", "Admin", new {moder = Model.Email})'>Назначить<br />модератором</a>
                    }
                </p>
            </div>
            <p>Фамилия: <span id="user-surname">@Html.DisplayFor(m => m.RuSecondName)</span></p>

            <p>Имя: <span id="user-name">@Html.DisplayFor(m => m.RuFirstName)</span></p>

            <p>Отчество: <span id="user-second-name">@Html.DisplayFor(m => m.RuThirdName)</span></p>
            <br>

            <p>Страна: <span id="user-country">@Html.DisplayFor(m => m.Nationality)</span></p>

            @*            <p>Город: <span id="user-town">Днепропетровск</span></p>*@
            @*            <br>*@

            <p>Телефон: <span id="user-tel">@Html.DisplayFor(m => m.Mobile)</span></p>

            <p>Почта: <span id="user-mail">@Html.DisplayFor(m => m.Email)</span></p>
            <div style="display: block">
            <a href="@Url.Action("EditProfile", "Profile")" style="float: none" class="button" id="change-profile">Редактировать<br>профиль</a>
                <a href="@Url.Action("Manage", "Account")" style="float: none" class="button" id="change-password">Изменить<br>пароль</a>
            </div>
        </div>
        <div class="layout-main">
            <h3>История</h3>
            <table class="history">
                <tr>
                    <th>Название тура</th>
                    <th>Даты</th>
                </tr>
                @if (Model.VisitedTours != null)
                {
                    foreach (var item in Model.VisitedTours)
                    {
                        if (item.FirstDate < DateTime.Now)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.TourName)</td>
                                <td>@Html.DisplayFor(m => item.FirstDate) - @Html.DisplayFor(m => item.SecondDate)</td>
                            </tr>
                        }
                    }
                }
            </table>


        </div>
    </div>
    <div id="TripTable">
        @{Html.RenderAction("UsersTour", new { id = Model.UserId });}
    </div>

    @using (Ajax.BeginForm("Payment", "Buy", new AjaxOptions { UpdateTargetId = "TripTable" }))
    {
        @Html.DropDownList("Id")
        if (!User.IsInRole("Admin"))
        {
            <input type="submit" style="display: inline" value="Оплатить" />
        }
        if (User.IsInRole("Admin"))
        {
            <input type="button" style="display: inline" value="Отколнить" onclick=" runAction('/Admin/CancleTrip/') " />
            <input type="button" style="display: inline" value="Принять" onclick="runAction('/Admin/SubmitTrip/')" />
            <input type="button" style="display: inline" value="Удалить" onclick=" runAction('/Admin/DeleteTrip/') " />
        }
    }
</div>
<script type="text/javascript">
    function runAction(string) {
        var id = $('#Id option:selected').text();
        window.location.href = string + id;
    }
</script>