@model IEnumerable< WorkWithKOTE.Models.Trip>
<div class="layout">
    <h3> Заявки</h3>
    <table id="requests">
        @foreach (var Item in Model) {         
            <tr>
            <th>@Item.TripID<br>заказа</th>
            <th>@Item.User.RuFirstName @Item.User.RuSecondName @Item.User.RuThirdName</th>
            <th>@Item.Tour.NameTour</th>
            <th>@Item.DateTour.FirstDate  -  @Item.DateTour.SecondDate</th>
            <th>@Item.TourPrice</th>
            <th>@Item.Status<br>заказа</th>
        </tr>
        }
    </table>

</div>