@model IEnumerable< WorkWithKOTE.Models.Trip>
@{var paid = "Оплачена";}

<style>
    #smallTable{
        width : 100%;
        text-align : left;
        font-size : 14px;
        display : none;
    }

    .headr{
        font-weight : 700;
    }

    .paid{
        color : #00C853;
    }

    .notPaid{
        color : red;
    }
</style>

<div class="layout">
    <h3> Заявки</h3>
    <hr />
    <table class="request" id="requests">
        <tr>
            <th>Номер заказа</th>
            <th>ФИО</th>
            <th>Имя&nbsp;тура</th>
            <th>Дата&nbsp;тура</th>
            <th>Стоимость</th>
            <th>Статус&nbsp;заказа</th>
        </tr>
@foreach (var Item in Model)
{
    <tr>
        <td>@Item.TripID</td>
        <td>@Item.Name @Item.Surname @Item.FatherName</td>
        <td>@Item.Tour.NameTour</td>
        <td>@Item.DateTour.FirstDate.ToString("dd.MM.yyyy") - @Item.DateTour.SecondDate.ToString("dd.MM.yyyy")</td>
        <td>@Item.TourPrice</td>
        <td class="@(Item.Status == paid ? "paid" : "notPaid")">@Item.Status</td>
    </tr>
}
    </table>

    <table id="smallTable">
        <tr>
            <th>Ваши заявки</th>
        </tr>
        @foreach (var Item in Model)
        {
            <tr>
                <td>
                    <span style="color:#ff6a00" class="headr">Заявка #@Item.TripID</span><br/>
                    <span class="headr">ФИО</span> : @Item.Name @Item.Surname @Item.FatherName <br/>
                    <span class="headr">Название</span> : @Item.Tour.NameTour <br/>
                    <span class="headr">Дата</span> : @Item.DateTour.FirstDate.ToString("dd.MM.yyyy") - @Item.DateTour.SecondDate.ToString("dd.MM.yyyy") <br/>
                    <span class="headr">Цена</span> : @Item.TourPrice <br/>
                    <span class="headr">Статус</span> : <span class="@(Item.Status == paid ? "paid" : "notPaid") ">@Item.Status</span>          
                 </td>
            </tr>
        }
     </table>

</div>