
    <header>
    <div id="bar">
        <img id="small-logo" src="~/Content/img/small-logo.png" />

        <nav>
            @Html.ActionLink("Главная", "Index", "Home", null, null)
            @Html.ActionLink("Туры", "Search", "TourSearch", null, null)
            <a href="#">Галерея</a>
            <a href="#">Контакты</a>
        </nav>
        <img src="~/Content/img/separator.png" class="separator" />

        <div class="profile">
            <div class="user">
                <img id="user" src="~/Content/img/user.png" />
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink(User.Identity.Name, "Profile", "Profile", null, new { @class = "username" })
                    @Html.ActionLink("Выйти","LogOff", "Account")
                }
                else
                {
                    @Html.ActionLink("Войти", "Login", "Account", null, new { @class = "username" })
                }
            </div>
        </div>
        <img src="~/Content/img/separator.png" class="separator" />
        <a href="#"><img id="Searching" src="~/Content/img/Searching.png" /></a>
    </div>
        <img id="top-shadow" src="~/Content/img/top-shadow.png" />
</header>
<style>
    header {
        color: black;
        background-color: white;
    }
     
</style>