
<header>
    <div id="bar">
        <img id="small-logo" src="~/Content/img/small-logo.png" />

        <nav>
            @Html.ActionLink("Главная", "Index", "Home", null, null)
            @Html.ActionLink("Туры", "Search", "TourSearch", null, null)
            <a href="#">Галерея</a>
            <a href="#">Контакты</a>
        </nav>
        <img src="~/Content/img/separator.png" class="separator" />

        <div class="profile">
            <div class="user">
                <img id="user" src="~/Content/img/user.png" />
                @if (Request.IsAuthenticated)
                {
                    <span id="user_name">@User.Identity.Name</span>
                      <div id="block_links" class="hidden">
                          <a href='@Url.Action("Profile","Profile")' class="user_links">Профиль</a>
                          <a href='@Url.Action("LogOff", "Account")' class="user_links">Выход</a>
                      </div>
                }
                else
                {
                    @Html.ActionLink("Войти", "Login", "Account", null, new { id = "username" })
                }
            </div>
        </div>
        <img src="~/Content/img/separator.png" class="separator" />
        <a href="@Url.Action("Search", "TourSearch")"><img id="Searching" src="~/Content/img/Searching.png" /></a>
    </div>
    <img id="top-shadow" src="~/Content/img/top-shadow.png"/>
    <div id="second-navigation">
    <div class="groupLinks">
        <a href="#first">по Украине</a>
        <a href="#second">в Грузию</a>
        <a href="#third">Приключенческие</a>
    </div>
</div>
</header>