@using WorkWithKOTE.Code
<style>

    #forMenu{
        cursor : pointer;
    }

    .selectize.whereCopy  {
        display: inline-block;
        width: 47%;
        height: 40px;
        background: #656d78;
        color: #e6e9ed;
        line-height: 17px;
        font-size: 16px;
        border: 1px solid #3e4753;
        margin-left: 17px;
    }

       .selectize-control.selectize.whereCopy > .selectize-input {
        margin: 5px 0px -14px 0px;
        background: none;
        border: none;
        padding: 0px;
        width: 90%;
    }

    .selectize-control.selectize.whereCopy > .selectize-input.focus {
        background: none;
        border: none;
        color: #e6e9ed;
        box-shadow: none;
    }
   .selectize-control.selectize.whereCopy > .selectize-input.full {
        background: none;
        border: none;
        color: #e6e9ed;
    }
    .selectize-control.selectize.whereCopy > .selectize-input input {
        color: #e6e9ed;
        line-height: 14px;
        font-size: 16px;
        background: none !important;
        box-shadow: none !important;
    }

    .selectize-control.selectize.whereCopy > .selectize-input input ::-webkit-input-placeholder {
        color: #e6e9ed;
        line-height: 14px;
        font-size: 16px;
    }

    .selectize-control.selectize.whereCopy > .selectize-input input ::-moz-placeholder {
        color: #e6e9ed;
        line-height: 14px;
        font-size: 16px;
    }
    /* Firefox 19+ */
   .selectize-control.selectize.whereCopy > .selectize-input input :-moz-placeholder {
        color: #e6e9ed;
        line-height: 14px;
        font-size: 16px;
    }
    /* Firefox 18- */
   .selectize-control.selectize.whereCopy > .selectize-input input :-ms-input-placeholder {
        color: #e6e9ed;
        line-height: 14px;
        font-size: 16px;
    }

   .selectize-control.selectize.whereCopy > .selectize-input input .selectize-input.focus {
        box-shadow: none;
    }

    .selectize-control.selectize.whereCopy > .selectize-input,
    .selectize-control.single.whereCopy .selectize-input.input-active {
        background: none;
        border: none;
        width: 100%;
    }

   .selectize-dropdown.whereCopy {
        font-size: 16px !important;
        position: absolute;
        z-index: 10;
        /*border: 1px solid #eaeaea;*/
        background: #656d78;
        margin: -1px 0 0 0;
        border-top: 0 none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-border-radius: 0 0 2px 2px;
        -moz-border-radius: 0 0 2px 2px;
        border-radius: 0 0 2px 2px;
        width:100% !important;
        height: auto;
        margin-left: 0px !important;
     /*   top: 39px !important;
        left: 0px !important;*/
    }

       .selectize-dropdown.whereCopy .active {
        background: #3e4753;
        color: #e6e9ed;
    }

     .whereCopy{
        position: absolute !important;
        color: white !important;
        background-color: white !important;
        width: 216px !important;
        margin-top: -42px !important;
        margin-left: 32px !important;
        text-align: left !important;
        padding-left: 7px !important;
        line-height: 21px !important;
    }
    
    #tiny_menu{
        display : none;
        margin-top: -27px;
        background: white;
        box-shadow: 1px 1px 3px 0px #ccc;
        position: absolute;
        width: 150px;
        height: 150px;
    }

    .menuLink,.menuLink_first {
        font-size : 20px;
        padding-top:20px;
    }

    #second-navigation{
        width:100%;
        min-height : 42px;
    }

    #sec_nave{
        font-size : 18px !important;
        margin-top : 10px;
    }

    .Vkontakte{
       border-radius: 4px;
       margin-top : 5px;
       height: 33.5px;
       font-size: 14px;
       background : #6383a8 no-repeat;
       background-image : url("/Content/img/vk.png");     
       color : white;
       width : 212px;
       text-align : right;
       border : 1px solid #6383a8;
    }

    .facebook{
       margin-top: 5px;
       border-radius: 4px;
       height: 33.5px;
       font-size: 14px;
       background : #6383a8 no-repeat;
       background-image : url("/Content/img/facebook.png");     
       color : white;
       width : 202px;
       text-align : right;
       border : 1px solid #6383a8;    
    }

    #searchIcon{
        cursor : pointer;
    }

    .whereCopy > input[type=text]{
        width : auto !important;
    }

    .selectize-dropdown.whereCopy{
       width: 214px !important;
       top: 85px !important;
       left: 0px !important;
    }

    .selectize-control.selectize.whereCopy{
        opacity : 0;
        transition :0.4s;
        border-radius : 7px;
    }

    .selectize-dropdown.whereCopy > .selectize-dropdown-content{
        margin-left : -7px !important;
        background-color : #656d78;
    }

    .selectize-control.selectize.whereCopy > .selectize-input.items.not-full.has-options{
      margin-left: -5px !important;
      padding-left: 8px !important;
      height: 33px !important;
    }
   
</style>

<header>
    <div id="bar">
        <a href="@Url.Action("Index","Home")"><img id="small-logo" src="~/Content/img/small-logo.png" /></a>

        <nav id="navigation">
            @Html.ActionLink("Главная", "Index", "Home", null, null)
            @Html.ActionLink("Туры", "Searches", "TourSearch", null, null)
            @Html.ActionLink("Галерея", "GalleryList", "Gallery", null, null)
            @Html.ActionLink("О нас", "Contact", "Home", null, null)
        </nav>

        <div class="profile">
            <div class="user">
                <img src="~/Content/img/separator.png" class="separator" />
             
                @if (Request.IsAuthenticated)
                {
                    <span id="user_name">@User.Identity.Name</span>
                      <div id="block_links" class="hidden">
                          <a href='@Url.Action("Profile","Profile")' class="user_links">Профиль</a>
                          <a href='@Url.Action("LogOff", "Account")' class="user_links">Выход</a>
                      </div>
                }
                else
                {
                    <span id="user_name">Вход в личный кабинет </span>
                      <div id="block_enter" class="hidden">
                         <div id="blockExt">
                             @Html.Action("ExternalLoginsList","Account", new { ReturnUrl = ViewBag.ReturnUrl })
                         </div>

                         @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl, @id = "signForm" }))
                         {
                              @Html.AntiForgeryToken();
                              <input name="Email" type="text" class="input_log_in notHide" placeholder="Логин" />
                              <input name="Password" type="password" class="input_log_in notHide" placeholder="Пароль" />
                              <input id="enter_button" type="submit" value="Войти" class="notHide" />
                          
                         }
                          <a href='@Url.Action("Register","Account")' id="register" class="user_links_e">Регистрация</a>
                          <a href='@Url.Action("ForgotPassword","Profile")' id="amnesia" class="user_links_e">Забыли пароль ?</a>
                      </div>
                }
                <img src="~/Content/img/separator.png" class="separator" />
                <img style="width:20px;height:10px;display:none;" src="~/Content/img/menuicon.png" id="forMenu" />
            </div>
        </div>

        <div id="tiny_menu">
            <p class="menuLink_first"> @Html.ActionLink("Главная", "Index", "Home", null, null)          </p>
            <p class="menuLink">       @Html.ActionLink("Туры", "Search", "TourSearch", null, null)      </p>
            <p class="menuLink">       @Html.ActionLink("Галерея", "GalleryList", "Gallery", null, null) </p>
            <p class="menuLink">       @Html.ActionLink("Новости", "AllNewsBlock", "News",null,null)     </p>
            <p class="menuLink">       @Html.ActionLink("О нас", "Contact", "Home", null, null)          </p>

           <!-- <p class="menuLink">
                <a href="@Url.Action("Search", "TourSearch")">Поиск</a>
            </p>
               -->
        </div>
    
        <a id="searchIcon"><img id="Searching" src="~/Content/img/Searching.png" /></a>
        <form id="searchFormCopy" action="@Url.Action("Searches","TourSearch")" method="post" enctype="multipart/form-data">
            @Html.DropDownList("Places", DropDown.Places(), "Куда", new { @id = "where", @class = "selectize whereCopy" })
        </form>
</div>
    <img id="top-shadow" src="~/Content/img/top-shadow.png"/>
    <div id="second-navigation">
    <div class="groupLinks" id="sec_nave">
        <a href="#first">по Украине</a>
        <a href="#second">в Грузию</a>
        <a href="#third">Приключенческие</a>
    </div>
</div>
</header>

<script>
    $(function ()
    {
        $('#blockExt button').css({ 'width': '40.5%', 'display': 'inline' }).text('Войти');
        $('#blockExt button:first').css('margin-left', '20px');

        if ($('#bar').width() <= 800)
        {
            $('.nav-other a,#Searching,#navigation').hide();
            $('.profile').css('margin-top', '25px');
            $('#forMenu').show().css('display','inline');
        }
        else {
            $('.nav-other a,#Searching,#navigation').show();
            $('#forMenu').hide();
            $('.profile').css('margin-top', '0px');
            $('#tiny_menu').hide(500);
        }

        if ($('#bar').width() <= 450) {
            $('#small-logo').hide();
        }

        $(window).resize(function ()
        {

            $('#tiny_menu').hide(500);

            if ($('#bar').width() <= 800) {
                $('.nav-other a,#Searching,#navigation').hide();
                $('.profile').css('margin-top', '25px');
                $('#forMenu').show().css('display', 'inline');
            }
            else {
                $('.nav-other a,#Searching,#navigation').show();
                $('#forMenu').hide();
                $('.profile').css('margin-top', '0px');
                $('#tiny_menu').hide(500);
            }

            if ($('#bar').width() <= 450) {
                $('#small-logo').hide();
            }
            else {
                $('#small-logo').show();
            }
        });
    });

    $(function ()
    {
       
        $('body').click(function (event) {
            if ($(event.target).attr('id') != 'tiny_menu' && !$(event.target).hasClass('user')) {
                $('#tiny_menu').removeClass('opened');
                $('#tiny_menu').animate({ 'height': '0px' }, 400);
            }
        });

        $(window).scroll(function () {
            $('#tiny_menu').hide(300);
        });

        $('#forMenu').click(function () {
            $('#tiny_menu').offset({ 'left': $('#forMenu').offset().left - 130 });
            if (!$('#tiny_menu').hasClass('opened')) {
                 $('#tiny_menu').css('display', 'block').animate({ 'height': '240px' }, 400);
                 $('#tiny_menu').addClass('opened');
            }
            else {
                $('#tiny_menu').removeClass('opened');
                $('#tiny_menu').css('display', 'none').animate({ 'height': '0px' }, 400);
            }
            return false;
        });

    });

    $(function () {
        $('#searchIcon').click(function () {
            if (!$('.selectize-control.selectize.whereCopy').hasClass('visibl')) {
                $('.selectize-control.selectize.whereCopy').css({'opacity':'1'}).addClass('visibl');
            }
            else {
                $('.selectize-control.selectize.whereCopy').css('opacity', '0').removeClass('visibl');
            }
        });
        $('select.selectize').selectize({
            openOnFocus: false
        });

        $('body').keypress(function (event) {
            if (event.keyCode == '13' && $('.selectize.whereCopy.selectized').val()) {
                $('#searchFormCopy').submit();
            }
        });
    });
</script>