<style>

    #forMenu{
        cursor : pointer;
    }
    
    #tiny_menu{
        display : none;
        margin-top: -27px;
        background: white;
        box-shadow: 1px 1px 3px 0px #ccc;
        position: absolute;
        width: 150px;
        height: 280px;
    }

    .menuLink,.menuLink_first {
        font-size : 20px;
        padding-top:20px;
    }

    #second-navigation{
        width:100%;
        min-height : 42px;
    }

    #sec_nave{
        font-size : 18px !important;
        margin-top : 10px;
    }

</style>

<header>
    <div id="bar">
        <a href="@Url.Action("Index","Home")"><img id="small-logo" src="~/Content/img/small-logo.png" /></a>

        <nav id="navigation">
            @Html.ActionLink("Главная", "Index", "Home", null, null)
            @Html.ActionLink("Туры", "Search", "TourSearch", null, null)
            @Html.ActionLink("Галерея", "GalleryList", "Gallery", null, null)
            @Html.ActionLink("О нас", "Contact", "Home", null, null)
        </nav>

        <div class="profile">
            <div class="user">
                <img src="~/Content/img/separator.png" class="separator" />
             
                @if (Request.IsAuthenticated)
                {
                    <span id="user_name">@User.Identity.Name</span>
                      <div id="block_links" class="hidden">
                          <a href='@Url.Action("Profile","Profile")' class="user_links">Профиль</a>
                          <a href='@Url.Action("LogOff", "Account")' class="user_links">Выход</a>
                      </div>
                }
                else
                {
                    <span id="user_name">Вход в личный кабинет </span>
                      <div id="block_enter" class="hidden">
                         @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl, @id = "signForm" }))
                         {
                              @Html.AntiForgeryToken();
                              <input name="Email" type="text" class="input_log_in notHide" placeholder="Логин" />
                              <input name="Password" type="password" class="input_log_in notHide" placeholder="Пароль" />
                              <input id="enter_button" type="submit" value="Войти" class="notHide" />
                          
                         }
                          <a href='@Url.Action("Register","Account")' id="register" class="user_links_e">Регистрация</a>
                          <a href='@Url.Action("ForgotPassword","Profile")' id="amnesia" class="user_links_e">Забыли пароль ?</a>
                      </div>
                }
                <img src="~/Content/img/separator.png" class="separator" />
                <img style="width:20px;height:10px;display:none;" src="~/Content/img/menuicon.png" id="forMenu" />
            </div>
        </div>

        <div id="tiny_menu">
            <p class="menuLink_first"> @Html.ActionLink("Главная", "Index", "Home", null, null)          </p>
            <p class="menuLink">       @Html.ActionLink("Туры", "Search", "TourSearch", null, null)      </p>
            <p class="menuLink">       @Html.ActionLink("Галерея", "GalleryList", "Gallery", null, null) </p>
            <p class="menuLink">       @Html.ActionLink("Новости", "AllNewsBlock", "News",null,null)     </p>
            <p class="menuLink">       @Html.ActionLink("О нас", "Contact", "Home", null, null)          </p>

            <p class="menuLink">
                <a href="@Url.Action("Search", "TourSearch")">Поиск</a>
            </p>

        </div>
    
        <a href="@Url.Action("Search", "TourSearch")"><img id="Searching" src="~/Content/img/Searching.png" /></a>
    </div>
    <img id="top-shadow" src="~/Content/img/top-shadow.png"/>
    <div id="second-navigation">
    <div class="groupLinks" id="sec_nave">
        <a href="#first">по Украине</a>
        <a href="#second">в Грузию</a>
        <a href="#third">Приключенческие</a>
    </div>
</div>
</header>




<script>
    $(function ()
    {
        if ($('#bar').width() <= 800)
        {
            $('.nav-other a,#Searching,#navigation').hide();
            $('.profile').css('margin-top', '25px');
            $('#forMenu').show().css('display','inline');
        }
        else {
            $('.nav-other a,#Searching,#navigation').show();
            $('#forMenu').hide();
            $('.profile').css('margin-top', '0px');
            $('#tiny_menu').hide(500);
        }

        if ($('#bar').width() <= 450) {
            $('#small-logo').hide();
        }

        $(window).resize(function ()
        {
            $('#tiny_menu').hide(500);

            if ($('#bar').width() <= 800) {
                $('.nav-other a,#Searching,#navigation').hide();
                $('.profile').css('margin-top', '25px');
                $('#forMenu').show().css('display', 'inline');
            }
            else {
                $('.nav-other a,#Searching,#navigation').show();
                $('#forMenu').hide();
                $('.profile').css('margin-top', '0px');
                $('#tiny_menu').hide(500);
            }

            if ($('#bar').width() <= 450) {
                $('#small-logo').hide();
            }
            else {
                $('#small-logo').show();
            }
        });
    });

    $(function () {

        $('body').click(function (event) {
            if ($(event.target).attr('id') != 'tiny_menu' && !$(event.target).hasClass('user')) {
                $('#tiny_menu').hide(500);
            }
        });

        $(window).scroll(function () {
            $('#tiny_menu').hide(500);
        });

        $('#forMenu').click(function () {
            $('#tiny_menu').toggle(500);
            return false;
        });

    });
</script>