@{
    ViewBag.Title = "Тур";
}
@using WorkWithKOTE.Models
@model  WorkWithKOTE.Models.Tour
@Styles.Render("~/Content/description")
<style>
    .galleria {
        width: 90%;
        height: 400px;
        margin-bottom: 15px;margin-top: 15px;
        background: #000;
    }

    .container{
        margin-left : 21.2%;
        width: 77%;
        min-width: 77%;
        margin-top : -2px;
    }

    .upperText{
        color : gray;
        font-size : 18px;
        margin-bottom : 10px;
    }

    .telephone{
        font-weight : 800;
    }
    
    .telephone:last-child{
        margin-left : 20px;
    }

    .tour-destination{
        text-align : center;
        font-size : 17px;
    }

    .orangan{
        color : #ff6a00;
        margin-left : 15px;
    }

    .orange_li{
        margin-bottom : 10px;
    }

   .orange_li:before {
    content: "• ";
    color: #ff6a00;
    }

    hr{
      width: 94%;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .greenBtn{
        width : 78%;
        height : 40px;
        color:white !important;
        border-radius : 4px;
        background : #00C853;
        display : block;
        padding : 9px;
        font-size : 16px;
        margin-top : 10px;
        margin-bottom : 10px;
    }

    .new-price{
        color : #00C853;
    }

    .adminBtn{
        width : 78%;
        height : 38px;
        color:white !important;
        border-radius : 4px;
        background : #ff6a00;
        display : block;
        padding : 9px;
        font-size : 16px;
        margin-top : 10px;
        margin-bottom : 10px;
    }

    #headerBtn{
        width : 10%;
        height : 15px;
        color:white !important;
        border-radius : 4px;
        background : #00C853;
        display : inline;
        padding : 6px;
        font-size : 14px;
    }

    td{
        border : 1px solid #ccc;
    }

    .description{
        float:left;
    }
    #smallTable{
        display:none;
    }

</style>
@{ Html.RenderPartial("HeaderPartial_main");}

<div class="primaryContainer clearfix">
   
    <div id="big-preview-img" class="clearfix" style="background: url('@Html.DisplayFor(m => m.TourImg)') no-repeat center 100%; background-size: 100% 850px;">
        <div class="tour-name">@Html.DisplayFor(m => m.NameTour)</div>
    </div>

    <div class="container">
        <table id="bigTable" style="width: 90.2%;min-height:70px;">
            <tr>
                <td style="text-align:center;width : 30%;">
                    <span class="upperText">Даты</span> <br />
                    <select class="dataSelect" style="margin-top:5px;height: 30px; border-radius: 4px;width:83%;font-size:15px;">
                        @{var index = 0;}
                        @foreach (var item in Model.DateTour)
                        {
                            <option data-data="@Model.DateTour[index].SecondDate.Subtract(Model.DateTour[index].FirstDate).Days" class="tour-date">
                                @Html.DisplayFor(m => item.FirstDate) - @Html.DisplayFor(m => item.SecondDate)
                            </option>
                            index ++;
                        }
                    </select>
                </td>
                <td style="text-align:center;width : 30%;">
                    <span class="upperText">Продолжительность</span> <br />
                    <div class="days" style="font-size: 1.5em;">@Model.DateTour[0].SecondDate.Subtract(Model.DateTour[0].FirstDate).Days дня(ей)</div>
                </td>

                <td style="text-align:center;width : 30%;">
                    <span class="upperText">Цена</span> <br />
                    @if (Model.AukcionPrice != null)
                    {
                        <div>
                          <span style="font-size:20px;">от</span> <span class="old-price">@Model.Cost @Model.Valuta</span>
                             <span class="new-price">@Model.AukcionPrice @Model.Valuta</span>
                             <span>@Model.PodpicePrice</span>
                        </div>
                    }
                    @if (Model.AukcionPrice == null)
                    {
                        <span class="new-price">@Html.DisplayFor(m => m.Cost)  @Model.Valuta</span>
                    }
                </td>
            </tr>
        </table>

        <table id="smallTable">
            <tr>
                <td style="text-align:center;width : 30%;">
                    <span class="upperText">Даты</span> <br />
                    <select class="dataSelectClone" id="datetour" style="margin-top:5px;height: 30px; border-radius: 4px;width:83%;font-size:15px;">
                        @{var index1 = 0;}
                        @foreach (var item in Model.DateTour)
                        {
                            <option data-clone="@Model.DateTour[index1].SecondDate.Subtract(Model.DateTour[index1].FirstDate).Days" class="tour-date">
                                @Html.DisplayFor(m => item.FirstDate) - @Html.DisplayFor(m => item.SecondDate)
                            </option>
                            index1++;
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;width : 30%;">
                    <span class="upperText">Продолжительность</span> <br />
                    <div class="daysClone" style="font-size: 1.5em;">@Model.DateTour[0].SecondDate.Subtract(Model.DateTour[0].FirstDate).Days дня(ей)</div>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;width : 30%;">
                    <span class="upperText">Цена</span> <br />
                    @if (Model.AukcionPrice != null)
                    {
                        <div>
                            <span style="font-size:20px;">от</span> <span class="old-price">@Model.Cost @Model.Valuta</span>
                            <span class="new-price">@Model.AukcionPrice @Model.Valuta</span>
                        </div>
                    }
                    @if (Model.AukcionPrice == null)
                    {
                        <span class="new-price">@Html.DisplayFor(m => m.Cost)  @Model.Valuta</span>
                    }
                </td>
            </tr>
        </table>
       
        <div id="block1" style="width:57%; margin-top : 15px; border:1px solid #ccc; float : left;">
            <div class="tour-destination">
                <span>@Html.DisplayFor(m => m.PlaceOfDeparture)</span>
                    <img class="destination_arrow" src="~/Content/img/arrow_small.png" />
                <span> @Html.DisplayFor(m => m.PlaceOfArrival)</span>
                    <img class="destination_arrow" src="~/Content/img/arrow_small.png" />
                <span>@Html.DisplayFor(m => m.PlaceOfDeparture)</span>
            </div><hr/>

            <span class="orangan">Тип тура : </span> <span class="rightDef">Семейный отдых</span> <br/><br/>
            <span class="orangan">Транспорт : </span>
            @if (Model.IsBus)
            {
                <img style="width: 20px; display: inline;" src="/Content/img/t-bus.png" title="Автобусом">
            }
            @if (Model.IsTrain)
            {
                <img style="width: 20px; display: inline;" src="/Content/img/t-train.png" title="Поездом">
            }
            @if (Model.IsShip)
            {
                <img style="width: 20px; display: inline;" src="/Content/img/t-ship.png" title="На корабле">
            }
            @if (Model.IsAriplane)
            {
                <img style="width: 20px; display: inline;" src="/Content/img/t-plane.png" title="На самолёте">
            }

            <div id="dop" style="margin-bottom : -15px;">
                <span id="yslyga" class="orangan">Дополнительные услуги :</span>

                <ul style="display : inline-table;list-style : none;">
                    @foreach (var item in Model.DopUslug)
                    {
                        <li class="orange_li">@Html.DisplayFor(m => item.Name)</li>
                    }
                </ul>
            </div><hr />
       
            <p style="text-align:center">Если у Вас есть вопросы, обратитесь к нашему консультанту:</p>

            <div style="text-align:center">
                <span class="telephone">+38 097-815-68-38</span>
                <span class="telephone">+38 050-774-99-18</span>
            </div>
        </div>

        <div id="block2" style="width : 30%;float : right;margin-top:15px;border:1px solid #ccc;margin-right : 9.9%;padding-bottom: 15px;">
            <div style="text-align : center; font-size:19px;margin-top : 15px;">
               Тур в <span> @Html.DisplayFor(m => m.PlaceOfArrival)</span>
                  из <span> @Html.DisplayFor(m => m.PlaceOfDeparture)</span>
            </div><br/>

            @{ var i = Model.AllPeople - Model.People;}
            <div style="margin-left : 25px;">
                <span style="font-size : 17px;">Количество участников : @Html.DisplayFor(m => m.AllPeople)</span><br/>
                <span style="font-size:16px;">Уже едут : <span id="places">@Html.DisplayFor(m => m.People)</span>.</span>
                <span style="font-size : 17px;">Осталось мест @i из @Html.DisplayFor(m => m.AllPeople)</span>
            </div>

            @if (Model.Bonus != null)
            {
                <div style="font-size : 17px;margin-left : 25px;">
                    Бонусные баллы : <span style="color:green;font-size:19px;">@Html.DisplayFor(m => m.Bonus)</span>
                </div>
            }
            
            <hr/>

            <div id="buttonBox" style="text-align:-webkit-center;">
                @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    <a href='@Url.Action("TourEdit", "TourCreate", new {id = Model.TourId})' id="book-tour" class="adminBtn">Редактировать тур</a>
                    <a href='@Url.Action("TourDelete", "TourDisplay", new {id = Model.TourId})' id="book-tour" class="adminBtn">Удалить тур</a>
                }
                <a href="@Url.Action("Index", "Buy", new {id = Model.TourId})" id="book-and-pay" class="greenBtn">Бронь и оплата</a>
            </div>
            
        </div>

        <div class="description">
            <div class="right-panel">
                <div class="guide">
                    <h4>Сопровождающий</h4>
                    <img src="@Html.DisplayFor(m => m.SuppFoto)" class="img-photo guide-photo">

                    <div class="person-name"><a href="@Html.DisplayFor(m => m.SuppVkontakte)">@Html.DisplayFor(m => m.SuppName)</a>
                    </div>
                    <div class="about-person">
                        @Html.DisplayFor(m => m.SuppDiscription)
                    </div>
                </div>

                <div class="social">
                    @if (Model.SameTour != null)
                    {
                        <div class="similar-tour">
                            <p>Похожие туры:</p>
                            @foreach (SameTour item in Model.SameTour)
                            {
                              <span class="similarT">@Html.ActionLink(item.SameTourName, "Index", "TourDisplay", new {id = item.SameTourID}, null)</span>
                            }
                        </div>
                    }
                    <ul id="taggBox">
                        @foreach (var item in Model.Tag)
                        {
                            <li class="tagg">@Html.DisplayFor(m => item.TagName)</li>
                        }
                    </ul>

                </div>
            </div>
            <div class="full-description">
                <h1>Программа тура:</h1>
                @Html.Raw(Model.DescriptionTour)
                @if (Model.Gallery != null) {
                    <div class="galleria">
                        @foreach (var item in Model.Gallery.Pics)
                        {
                            if (item.PicType == "Image")
                            {
                                <img src="@Html.DisplayFor(m => item.PicLink)" data-title="@item.PicName" data-description="@item.PicDescription"/>
                            }
                            if (item.PicType == "Video")
                            {
                                <a href="@Html.DisplayFor(m => item.PicLink)"><img src="/Content/img/play-btn.jpg" data-title="@item.PicName" data-description="@item.PicDescription"></a>
                            }
                        }
                    </div>
                }
                    <h1 class="Map">Карта путешествия:</h1>
                    @{Html.RenderAction("MapForDisplay", new {id = Model.TourId});}
            </div>
        </div>
   </div> 
</div> 

<script>
    Galleria.loadTheme('/Content/js/themes/classic/galleria.classic.min.js');
    Galleria.configure({
        lightbox: true,
        transition: 'fade'
    });
    if ($('.galleria').length>=1) {
        Galleria.run('.galleria');
    }
</script>

<script>
    $(function () {
   
        $(window).scroll(function () {
            if ($('header').offset().top >= $('.container').offset().top && $('#bar').width() >= 800) {
                $('#headerBonus').slideDown(300);
            }
            else {
                $('#headerBonus').slideUp(300);
            }
        });

        $('.dataSelect').change(function () {
            $('.days').text($('.dataSelect option:selected').attr('data-data') + ' дня(ей)');
        });

        $('.dataSelectClone').change(function () {
            $('.daysClone').text($('.dataSelectClone option:selected').attr('data-clone') + ' дня(ей)');
        });

        if ($('.orange_li').text() == '') {
            $('#dop').hide();
        }

        if ($('.tagg').text() == '') {
            $('#taggBox li').hide();
        }

        if (!$('.similarT').length) {
            $('.similar-tour').hide();
        }

        if ($('.tagg').text() == '' && !$('.similarT').length) {
            $('.social').hide();
        }

        if ($('#bar').width() <= 800) {
            $('.Map,.right-panel,#headerBonus').hide();
          //  $('.right-panel').css({ 'float': 'none', 'width': '100%' });
            $('.description').css('width', '80%');
            $('.full-description').css({ 'width': '100%', 'margin-bottom': '20px' });
            $('#block1,#block2').css({ 'width': '80%', 'float': 'none' });
            $('.telephone').css({ 'display': 'block', 'margin-left': '0px' });
            $('#datetour').css('margin-bottom', '10px');
            $('#bigTable').hide();
            $('#smallTable').show().css('width', '80%');
            $('#yslyga').text('Доп. услуги :');
            $('#book-tour').text('Редактировать');
        }
        else {
            $('.Map,.right-panel,#headerBonus').show();
          //  $('.right-panel').css({ 'float': 'right', 'width': '30%' });
            $('.description').css('width', '100%');
            $('.full-description').css({ 'width': '57%', 'margin-bottom': '0px' });
            $('#block1').css({ 'width': '57%', 'float': 'left' });
            $('#block2').css({ 'width': '30%', 'float': 'right' });
            $('.telephone').css({ 'display': 'inline' });
            $('.telephone:last').css({ 'margin-left': '20px' });
            $('#datetour').css('margin-bottom', '0px');
            $('#bigTable').show();
            $('#smallTable').hide();
            $('#yslyga').text('Дополнительные услуги :');
            $('#book-tour').text('Редактировать тур');

            if (!$('#headerBonus').length) {
                $('header').append('<div id="headerBonus" style="width:100%;height:40px;background:#ccc;display:none">' +
                                       '<div id="headerBox1" style="width:30%;display:inline">' + $('#bigTable tr td:first').html() + '</div>' +
                                       '<div id="headerBox2" style="width:30%;display:inline;margin-left:20px">' + $('#bigTable tr td:last').html() + '</div>' +
                                       '<a href="@Url.Action("Index", "Buy", new {id = Model.TourId})"  id="headerBtn"  style="width:30%;display:inline;margin-left:20px">Бронь и оплата</a>' +

                                   '</div>'
                                  ).find('select').css('width', '17%');

                $('#headerBox1,#headerBox2').find('br').remove();
                $('.new-price:first').css({ 'padding-left': '0px', 'font-size': '22px' });
            }
 
        }

        $(window).resize(function () {
            if ($('#bar').width() <= 800) {
                $('.Map,.right-panel,#headerBonus').hide();
                //$('.right-panel').css({ 'float': 'none', 'width': '100%' });
                $('.description').css('width', '80%');
                $('.full-description').css({ 'width': '100%', 'margin-bottom': '20px' });
                $('#block1,#block2').css({ 'width': '80%', 'float': 'none' });
                $('.telephone').css({ 'display': 'block', 'margin-left': '0px' });
                $('#datetour').css('margin-bottom', '10px');
                $('#bigTable').hide();
                $('#smallTable').show().css('width', '80%');
                $('#yslyga').text('Доп. услуги :');
                $('#book-tour').text('Редактировать');
            }
            else {
                $('.Map,.right-panel,#headerBonus').show();
                // $('.right-panel').css({ 'float': 'right', 'width': '30%' });
                $('.description').css('width', '100%');
                $('.full-description').css({ 'width': '57%', 'margin-bottom': '0px' });
                $('#block1').css({ 'width': '57%', 'float': 'left' });
                $('#block2').css({ 'width': '30%', 'float': 'right' });
                $('.telephone').css({ 'display': 'inline' });
                $('.telephone:last').css({ 'margin-left': '20px' });
                $('#datetour').css('margin-bottom', '0px');
                $('#bigTable').show();
                $('#smallTable').hide();
                $('#yslyga').text('Дополнительные услуги :');
                $('#book-tour').text('Редактировать тур');

                if (!$('#headerBonus').length) {
                    $('header').append('<div id="headerBonus" style="width:100%;height:40px;background:#ccc;display:none">' +
                                           '<div id="headerBox1" style="width:30%;display:inline">' + $('#bigTable tr td:first').html() + '</div>' +
                                           '<div id="headerBox2" style="width:30%;display:inline;margin-left:20px">' + $('#bigTable tr td:last').html() + '</div>' +
                                           '<a href="@Url.Action("Index", "Buy", new {id = Model.TourId})"  id="headerBtn"  style="width:30%;display:inline;margin-left:20px">Бронь и оплата</a>' +

                                       '</div>'
                                      ).find('select').css('width', '17%');

                    $('#headerBox1,#headerBox2').find('br').remove();
                    $('.new-price:first').css({ 'padding-left': '0px', 'font-size': '22px' });
                }
            }
        });
    });
</script>