@{
    ViewBag.Title = "Тур";
}
@using WorkWithKOTE.Models
@model  WorkWithKOTE.Models.Tour

<div class="primaryContainer clearfix">
    @{ Html.RenderPartial("HeaderPartial_main");}
    <div id="big-preview-img" class="clearfix" style="background: url('@Html.DisplayFor(m => m.TourImg)') no-repeat center 100%; background-size:100% 850px;">
        <div class="tour-name">@Html.DisplayFor(m => m.NameTour)</div>

        <div class="bottom">
            <div class="align_center_to_left">
                <div class="align_center_to_right">
                    <div class="short-description">
                      @foreach (var item in Model.DateTour) {   <p class="tour-date">@Html.DisplayFor(m=>item.FirstDate) - @Html.DisplayFor(m=>item.SecondDate)</p>}

                        <p class="tour-destination">@Html.DisplayFor(m => m.PlaceOfDeparture) -> @Html.DisplayFor(m => m.PlaceOfArrival)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="booking">
            <div id="description">
                <p>Описание</p>
            </div>

            <div class="left-column">
                <p>Стоимость:</p>

                <p>
                    @if (Model.AukcionPrice != null)
                    {
                        <span class="old-price">@Model.Cost @Model.Valuta</span> <span class="new-price">@Model.AukcionPrice @Model.Valuta</span>
                    }
                    @Html.DisplayFor(m => m.PodpicePrice);
                </p>

                @*                <p>Тип тура: <a href="">Семейный отдых</a>, <a href="">бизнес отдых</a></p>*@
                @if (Model.Bonus != null)
                {
                    <p>
                        Бонус за тур :@Html.DisplayFor(m => m.Bonus)
                    </p>
                }
                <p>
                    Теги тура:
                    @foreach (var item in Model.Tag)
                    {@Html.DisplayFor(m => item.TagName)
                    }
                </p>
                <p>
                    Транспорт:
                    @if (Model.IsTrain)
                    {
                        <img src="~/Content/img/t-train.png" style="display: inline-block; width: 25px; height: 25px;">
                    }
                    @if (Model.IsShip)
                    {
                        <img src="~/Content/img/t-ship.png" style="display: inline-block; width: 25px; height: 25px;">
                    }
                    @if (Model.IsBus)
                    {
                        <img src="~/Content/img/t-bus.png" style="display: inline-block; width: 25px; height: 25px;">
                    }
                    @if (Model.IsAriplane)
                    {
                        <img src="~/Content/img/t-plane.png" style="display: inline-block; width: 25px; height: 25px;">
                    }
                </p>

                <p>
                    Дополнительные услги: @foreach (var item in Model.DopUslug)
                    {
                        @Html.DisplayFor(m => item.Name) @:,
 }
                </p>

                <span>Количество участников:  @Html.DisplayFor(m => m.AllPeople) ( Уже едут: @Html.DisplayFor(m => m.People) )</span>
            </div>
            <div class="right-column">
                <p>Если у Вас есть вопросы,обратитесь к нашему консультанту:</p>

                <p><span class="telephone">+38 097-815-68-38</span> <span class="telephone">+38 050-774-99-18</span></p>

                <p><a href="">Обратный звонок</a></p>
            </div>
            <div class="buttons">
                <a href="@Url.Action("Index", "Buy", new { id = Model.TourId })" id="book-and-pay">Бронь и оплата</a>
                @*                <a href="#" id="book-tour">Предварительная бронь</a>*@
                @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    <a href='@Url.Action("TourEdit", "TourCreate", new {id = Model.TourId})' id="book-tour">Редактировать тур</a>
                    <a href='@Url.Action("TourDelete","TourDisplay",new {id = Model.TourId})'id="book-tour">Удалить тур</a>
                }
            </div>
        </div>
        <div class="description">
            <div class="right-panel">

                <div class="guide">
                    <h4>Сопровождающий</h4>
                    <img src="@Html.DisplayFor(m => m.SuppFoto)" class="img-photo guide-photo">

                    <div class="person-name"><a href="@Html.DisplayFor(m => m.SuppVkontakte)">@Html.DisplayFor(m => m.SuppName)</a></div>
                    @*                    <div class="position">Директор туристического оператора КОТЕ</div>*@
                    <div class="about-person">
                        @Html.DisplayFor(m => m.SuppDiscription)
                    </div>
                </div>

                <div class="social">
                    <div class="tourists">
                        <p>Уже едут:</p>
                        <a href="#"><img src="~/Content/img/10942586.jpg" class="tourist"></a>
                        <a href="#"><img src="~/Content/img/10942586.jpg" class="tourist"></a>
                        <a href="#"><img src="~/Content/img/10942586.jpg" class="tourist"></a>
                        <a href="#"><img src="~/Content/img/10942586.jpg" class="tourist"></a>
                        <a href="#"><img src="~/Content/img/10942586.jpg" class="tourist"></a>
                    </div>
                 @if (Model.SameTour != null) { 
                    <div class="similar-tour">
                        <p>Похожие туры:</p>
                        @foreach(SameTour item in Model.SameTour)
                        { 
                             @Html.ActionLink(item.SameTourName, "Index", "TourDisplay", new { id = item.SameTourID},null)
                        }
                    </div>
                 }
                    <div class="">
                        <p>Поделиться:</p>
                    </div>
                    <ul>
                        @foreach (var item in Model.Tag)
                        {
                            <li>@Html.DisplayFor(m => item.TagName)</li>
                        }
                    </ul>

                </div>
            </div>
            <div class="full-description">
                <h1>Программа тура:</h1>
                @Html.Raw(Model.DescriptionTour)
                <div id="map_canvas" style="width: 90%; height: 300px">
                    <h1>Карта путешествия:</h1>
                    @{Html.RenderAction("MapForDisplay", new { id = Model.TourId });}
                </div>
            </div>
        </div>
        @section scripts{
        }
    </div>
</div>