@{
    ViewBag.Title = "TourCreate";
}
@model WorkWithKOTE.Models.Tour
    @Styles.Render("~/Content/order")
    @Styles.Render("~/Content/form")

<script src="~/Scripts/ckeditor/ckeditor.js"></script>

@{ Html.RenderPartial("HeaderPartial_main");}

    <div id="small-preview-img" class="clearfix">
        <hgroup>
            <h1>Создание тура</h1>
            <h2>@Html.ActionLink("Главная", "Index", "Home", null, null) / Создание тура</h2>
        </hgroup>
    </div>

    <form action="@Url.Action("TourCreate")" method="post" enctype="multipart/form-data">
      <div class="layout" id="form_tour">
          @Html.ValidationSummary()

            <span class="textbox">
              Название : @Html.TextBoxFor(m => m.NameTour)
              @Html.ValidationMessageFor(model => model.NameTour)
            </span><br/>
              
            <span class="textbox">
              Заголовок : @Html.TextBoxFor(m => m.TitleTour) 
            </span><br/>
              
            <span class="textbox">
              Тип тура : @Html.DropDownList("TypeOfTourId")
            </span>

            <span class="textbox">
              Cтатус тура : @Html.DropDownList("TourStatusId")
            </span><br/><br/><br/>

            <span class="textbox">
              Описание : @Html.TextAreaFor(m => m.DescriptionTour)<br />
            </span>

            <span class="textbox">
                Выезд из @Html.TextBoxFor(m => m.PlaceOfDeparture)
            </span><br/>

            <span class="textbox">
                Прибываем в @Html.TextBoxFor(m => m.PlaceOfArrival)
            </span><br />

            <span class="textbox">
               Cтоимость @Html.TextBoxFor(m => m.Cost)
               <input type="radio" name="Valuta" value="гривен" checked />Гривна
               <input type="radio" name="Valuta" value="долларов" />Dollar
               <input type="radio" name="Valuta" value="евро" />Euro
            </span><br/>

            <span class="textbox">
               Предоплата :<input type="checkbox" id="Predop" onclick=" valid() " />
               @Html.TextBoxFor(m => m.PrePay, new { style = "visibility:hidden", id = "PrePay" })
            </span>

            <span class="armor">
              Бронь:<input type="checkbox" id="Reserv" onclick=" reserv() " />
              @Html.TextBoxFor(m => m.Reservation, new { style = "visibility:hidden", id = "Reservation" })
            </span><br/><br/>

              @Html.Partial("DateTourPartial")
              <br/><br/><br/>

          <span class="textbox">
              Виды Транспорта :
          </span><br />

          <span class="textbox">
            <span class="byTransport"> Автобус @Html.CheckBoxFor(m => m.IsBus)       </span>
            <span class="byTransport"> Самолет @Html.CheckBoxFor(m => m.IsAriplane)  </span>
            <span class="byTransport"> Лайнер  @Html.CheckBoxFor(m => m.IsShip)      </span>
            <span class="byTransport"> Поезд   @Html.CheckBoxFor(m => m.IsTrain)     </span>        
          </span><br/><br/>

          <span class="textbox">
              Подпись к цене : @Html.TextBoxFor(m => m.PodpicePrice)
          </span><br/>

          <span class="textbox">
              Аукционная цена : @Html.TextBoxFor(m => m.AukcionPrice)
          </span><br/>

          <span class="textbox">
              Сумма Агента: <input type="checkbox" id="Summa" onclick=" valid2() " />
              @Html.TextBoxFor(m => m.KommisiaAgent, new { style = "visibility:hidden", id = "SummaAgent" })
          </span><br /><br/>

          @Html.Partial("DopUsluga") <br/><br/><br/>
      
          <span class="textbox">
              Имя Сопровождающего : @Html.TextBoxFor(m => m.SuppName)
          </span><br/>

          <span class="textbox">
              Фото сопровождающего : <input type="file" name="AvatarSupp" />
          </span><br/>

          <span class="textbox">
              Ссылка на соц. сеть: @Html.TextBoxFor(m => m.SuppVkontakte)
          </span><br/><br/>

          <span class="textbox">
              Описание сопровождающего : @Html.TextAreaFor(m => m.SuppDiscription)
          </span><br />
   
          <span class="textbox">
              Количество участников : @Html.TextBoxFor(m => m.AllPeople)
          </span><br />  
          
          <span class="textbox">
              Уже едут : @Html.TextBoxFor(m => m.People)
          </span><br /> 


          <span id="payChange"> Cпособ оплаты : </span> 
          <select id="paymentSelect" name="KindOfPay">
              <option selected>Наличный</option>
              <option>Безналичный</option>
              <option>Оба</option>
          </select><br/><br/>

          <span class="textbox">
              Обложка тура <input type="file" name="TourImg" required />
          </span><br />
          
          <span class="textbox">
              Выберите стиль Логотипа : @Html.DropDownList("LogoId")
          </span><br/>

          <span class="textbox">
              Галлерея : @Html.DropDownList("GalleryID", String.Empty)
          </span><br/><br/>

          <span class="textbox">
              Загрузить файл : <input type="file" name="Document" />
          </span><br />

          <span class="textbox">
              Бонус за тур :
              <input type="checkbox" id="Bonus" onclick=" valid3() " />
              @Html.TextBoxFor(m => m.Bonus, new { style = "visibility:hidden", id = "BonusText" })
          </span><br />

              @Html.Partial("TegPartialView")<br/><br/>


          <span class="textbox">
            Похожие туры :
           @Html.ListBox("SameTours", (MultiSelectList)ViewBag.SameTourId)
          </span><br /><br/>

              @Html.Partial("MapPartial")
           
              <input id="createTour" type="submit" value="Создать Тур" />
              <div id="route-points"></div>
        </div>      
     </form>

@section scripts
{
 @* @Scripts.Render("~/bundles/jqueryval")*@
    <script>
        CKEDITOR.replace("DescriptionTour", {
            filebrowserBrowseUrl: '/Scripts/Filemanager-master/index.html'
        });
    </script>

    <script type="text/javascript">
        function valid() {
            if (document.getElementById('Predop').checked) {
                document.getElementById('PrePay').style.visibility = 'visible';
            }
            else {
                document.getElementById('PrePay').style.visibility = 'hidden';
            }
        }
        function reserv() {
            if (document.getElementById('Reserv').checked) {
                document.getElementById('Reservation').style.visibility = 'visible';
            }
            else {
                document.getElementById('Reservation').style.visibility = 'hidden';
            }
        }
        function valid2() {
            if (document.getElementById('Summa').checked) {
                document.getElementById('SummaAgent').style.visibility = 'visible';
            }
            else {
                document.getElementById('SummaAgent').style.visibility = 'hidden';
            }
        }
        function valid3() {
            if (document.getElementById('Bonus').checked) {
                document.getElementById('BonusText').style.visibility = 'visible';
            }
            else {
                document.getElementById('BonusText').style.visibility = 'hidden';
            }
        }
    </script>
}
