@{
    ViewBag.Title = "TourEdit";
}
@model WorkWithKOTE.Models.Tour
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<h2>Редактирование Туров</h2>
<form action="@Url.Action("TourEdit")" method="post" enctype="multipart/form-data">
        @Html.HiddenFor(m=>m.TourId)
        Название  @Html.TextBoxFor(m => m.NameTour)
        @Html.ValidationMessageFor(model => model.NameTour)
        @Html.HiddenFor(m=>m.SuppFoto)
        @Html.HiddenFor(m=>m.TourImg)
        @Html.HiddenFor(m=>m.Document)
        Заголовок  @Html.TextBoxFor(m => m.TitleTour) <br />
        Выберите тип тура:   @Html.DropDownList("TypeOfTourId")
        Cтатус тура :@Html.DropDownList("TourStatusId")
        Описание:
        <textarea name="DescriptionTour">@Html.Raw(Model.DescriptionTour)</textarea><br />
        Выезд из @Html.TextBoxFor(m => m.PlaceOfDeparture)<br />
        Прибываем в @Html.TextBoxFor(m => m.PlaceOfArrival)<br />
        стоимость @Html.TextBoxFor(m => m.Cost)<br />
        <input type="radio" name="Valuta" value="гривень" checked style="height:15px; width:15px" />Гривна<br />
        <input type="radio" name="Valuta" value="долларов" style="height:15px; width:15px " />Dollar<br />
        <input type="radio" name="Valuta" value="евро" style="height:15px; width:15px " />Euro<br />
        Предоплата :<input type="checkbox" id="Predop" onclick="valid()" />
        @Html.TextBoxFor(m => m.PrePay, new { style = "visibility:hidden", id = "PrePay" })<br />
        <br />
        Бронь:<input type="checkbox" id="Reserv" onclick="reserv()" />
        @Html.TextBoxFor(m => m.Reservation, new { style = "visibility:hidden", id = "Reservation" })<br />
        <div id="datetour-pannel">
        @{int i = 0;}
        @foreach (var item in Model.DateTour)
        {
                <div id="dateTour_@i">
                    Введите дату отправки:<br />
                    <input type='date' id="myDateFirst+@i" name="DateTour[@i].FirstDate" required />
                    <br />
                    Введите дату приезда:<br />
                    <input type='date' id="myDateSecond+@i" name="DateTour[@i].SecondDate" required />
                </div>
            <script type="text/javascript">
                function myFunction() {
                    document.getElementById("myDateFirst+@i").value = "@item.FirstDate.ToString("yyyy-MM-dd")";
                    document.getElementById("myDateSecond+@i").value = "@item.SecondDate.ToString("yyyy-MM-dd")";
                }
                myFunction();
            </script>
            i++;
        }
           </div>
        <p>
            <input type="button" class="addLink" value=" + "><input type="button" class="deleteLink" value="-" />
        </p>
        <br />
        Виды Транспорта :<br />
        Автобус @Html.CheckBoxFor(m => m.IsBus)<br />
        Самолет @Html.CheckBoxFor(m => m.IsAriplane)<br />
        Лайнер  @Html.CheckBoxFor(m => m.IsShip)<br />
        Поезд @Html.CheckBoxFor(m => m.IsTrain)<br />
        Подпись к цене
        @Html.TextBoxFor(m => m.PodpicePrice)
        <p>Аукционная цена : @Html.TextBoxFor(m => m.AukcionPrice)</p>
        <p>
            Сумма Агента:  <input type="checkbox" id="Summa" onclick="valid2()" />
            @Html.TextBoxFor(m => m.KommisiaAgent, new { style = "visibility:hidden", id = "SummaAgent" })<br />
        </p>
        <p>
            <div id="dopusluga-pannel">
                @{int k = 0;}
                @foreach (var item in Model.DopUslug)
                {
                    <div id="dopusluga_@k">
                        Дополнительная услуга
                        <input type='text' name="DopUslug[@k].Name" value="@Html.DisplayFor(m=>item.Name)" />
                        <br />
                        Цена дополнительной услуги:<br />
                        <input type='text' name="DopUslug[@k].Price" value="@Html.DisplayFor(m=>item.Price)" />
                    </div>
                    k++;
                }
                </div>
</p>
        <p>
            <input type="button" class="addUslug" value=" + ">
            <input type="button" class="deleteLinkUslugi" value="-" />
        </p>
        <p>
            Имя Сопровождающего :@Html.TextBoxFor(m => m.SuppName)<br />
        <p>@ViewBag.Message</p>
        <p>
            Фото сопровождающего:<input type="file" name="AvatarSupp" />
            Ссылка на соц. сеть: @Html.TextBoxFor(m => m.SuppVkontakte)<br />
            Описание сопровождающего :@Html.TextAreaFor(m => m.SuppDiscription)<br />
        </p>
        <select name="KindOfPay">
            <option selected="selected">Способ оплаты</option>
            <option>Наличный</option>
            <option>Безналичный</option>
            <option>Оба</option>
        </select>
        <br />
        Количество участyков :@Html.TextBoxFor(m => m.AllPeople)<br />
        Уже едут :@Html.TextBoxFor(m => m.People)<br />
        Выберите стиль Логотипа :@Html.DropDownList("LogoId")<br />
        Обложка тура - <input type="file" name="TourImg" /><br />
        Галлерея : @Html.DropDownList("GalleryID", String.Empty)<br />
        Загрузить файл :<input type="file" name="Document" /><br />
        Бонус за тур :
        <input type="checkbox" id="Bonus" onclick="valid3()" />
        @Html.TextBoxFor(m => m.Bonus, new { style = "visibility:hidden", id = "BonusText" })<br />
        <div id="route-points"></div>
        <p>
            <div id="tag-pannel">
                @{int j = 0;}
                @foreach (var item in Model.Tag)
                {
                    <div class="tag_@j">
                        Тэг тура:
                        <input type='text' name="Tag[@j].TagName" value="@Html.DisplayFor(m=>item.TagName)" />
                        <br />
                    </div>
                    j++;
                }
                </div>
</p>
        <p>
            <input type="button" class="addTeg" value=" + ">
            <input type="button" class="deleteLinkTag" value="-" />
        </p>
        <input type="submit" value="Редактировать Тур" />
    </div>
    @{int l = 0;}
    @foreach (var iteam in Model.RoutePoints)
    {
        <input type="hidden" id="item[@l].lat" value="@Html.DisplayFor(m=>iteam.Lat)" name="RoutePoints[@l].Lat" />
    <input type="hidden" id="item[@l].lng" value="@Html.DisplayFor(m=>iteam.Lng)" name="RoutePoints[@l].Lng" />
        l++;
    } 
    @Html.ListBox("SameTours", (MultiSelectList)ViewBag.SameTourId)
    <input type="button" value="Убрать маркеры" onclick="DeleteAllPoints()" />
    <div id="map_canvas" style="width:400px; height:400px"></div>
</form>
@section scripts
                {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        CKEDITOR.replace("DescriptionTour", {
            filebrowserBrowseUrl: '/Scripts/Filemanager-master/index.html'
        });
    </script>
    <script type="text/javascript">
        function valid() {
            if (document.getElementById('Predop').checked) {
                document.getElementById('PrePay').style.visibility = 'visible';
            }
        }
        function reserv() {
            if (document.getElementById('Reserv').checked) {
                document.getElementById('Reservation').style.visibility = 'visible';
            }
        }
        function valid2() {
            if (document.getElementById('Summa').checked) {
                document.getElementById('SummaAgent').style.visibility = 'visible';
            }
        }
        function valid3() {
            if (document.getElementById('Bonus').checked) {
                document.getElementById('BonusText').style.visibility = 'visible';
            }
        }
    </script>
    <script>
        var i = @i
        $(function () {
            $('.addLink').click(function () {
                var html2Add = "<div id='dateTour_" + i + "'>" +
                     " Введите дату отправки" + "(дд/мм/год)" +
                "<input type='date' name='DateTour[" + @i + "].FirstDate' required /><br/>" +
                " Введите дату приезда" + "(дд/мм/год)" +
                "<input type='date' name='DateTour[" + @i + "].SecondDate' required />" +
            "</div></div>";
                $('#datetour-pannel').append(html2Add);
                i++
            })
        });
        $(function () {
            $('.deleteLink').click(function () {
                if (i != 1) {
                    var count = i - 1;
                    $('#dateTour_' + count).remove();
                    i--
                }
            })
        });
    </script>
<script>
    var k = @k
    $(function () {
        $('.addUslug').click(function () {
            var html2Adds = "<div id='dopusluga_" + k + "'>" +
         "<h4>Дополнительная услуга тура №" + "</h4>" +
                 "<input type='text' name='DopUslug[" +@k + "].Name' /><br/>" +
                 "<h4>Цена Дополнительной услуги №" + "</h4>" +
                 "<input type='text' name='DopUslug[" + @k +"].Price' />" +
             "</div>";
            $('#dopusluga-pannel').append(html2Adds);
            k++;
        })
    });
    $(function () {
        $('.deleteLinkUslugi').click(function () {
            if (k != 1) {
                var count = k - 1;
                $('#dopusluga_' + count).remove();
                k--
            }
        })
    });
</script>
<script>
    var l = @j
    $(function () {
        $('.addTeg').click(function () {
            var html2Addss = "<div class='tag_" + l + "'>" +
          "<h4>Тег тура " + "</h4>" +
                 "<input type='text' name='Tag[" + @j + "].TagName' /><br/>" +
                  "<input type='hidden' name='Tag[" + @j + "].TourId' value='@Model.TourId' />" +
             "</div>";
            $('#tag-pannel').append(html2Addss);
            l++;
        })
    });
    $(function () {
        $('.deleteLinkTag').click(function () {
            if (l != 1) {
                var count = l - 1;
                $('.tag_' + count).remove();
                l--
            }
        })
    });
</script>
<script type="text/javascript">
    var map;
    var arryLat = [];
    var arryLng = [];
    var arrayMarker = [];
    var PathForPoly = [];
    var poly;
    var polyOptions;
    var arrayMarkerAdd = [];
    var g = @l
    initialize();
    save();
    addMarker();
    function save() {
        for (var k = 0; k <= g - 1; k++) {

            arryLat[k] = parseFloat(document.getElementById("item[" + k + "].lat").value);
            arryLng[k] = parseFloat(document.getElementById("item[" + k + "].lng").value);
        }
    }
    function addMarker() {
        for (var k = 0; k <= arryLat.length ; k++) {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(arryLat[k], arryLng[k]),
                map: map
            });
            PathForPoly.push(new google.maps.LatLng(arryLat[k], arryLng[k]));
            arrayMarker.push(marker);
        }
        var lineSymbol = {
            path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
        }
        var polyOptions = {
            path: PathForPoly,
            strokeColor: '#000000',
            strokeOpacity: 1.0,
            strokeWeight: 3,
            icons: [{
                icon: lineSymbol,
                offset: '10%',
                repeat: '100px'
            }]
        }
        poly = new google.maps.Polyline(polyOptions);
        poly.setMap(map);
    }
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(49.7191, 35.112),
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        google.maps.event.addListener(map, 'click', addLatLng);
    }
    function addLatLng(event) {
        var path = poly.getPath();
        path.push(event.latLng);
        arrayMarkerAdd = poly.getPath();
        var marker = new google.maps.Marker({
            position: event.latLng,
            title: '#' + path.getLength(),
            map: map

        });
    }
    function DeleteAllPoints() {
        arrayMarker = [];
        for (var k = 0; k <= g - 1; k++)
        {
            document.getElementById("item[" + k + "].lat").value= null;
            document.getElementById("item[" + k + "].lng").value= null;
        }
        $("#map_canvas").html("");
        initialize();
        poly = new google.maps.Polyline(polyOptions);
        poly.setMap(map);
    } 
    function prepareRoutePoints() {
        $.each(arrayMarkerAdd, function (i, v) {
            $('#route-points').append(
                $('<input>').attr({
                    'type': 'hidden',
                    'name': 'RoutePoints[' + i + '].Lat'
                }).val(arrayMarkerAdd.getAt(i).lat())
            ).append(
                $('<input>').attr({
                    'type': 'hidden',
                    'name': 'RoutePoints[' +i + '].Lng'
                }).val(arrayMarkerAdd.getAt(i).lng())
            );
        });
    }
    if(arrayMarker != null){
        $('form').submit(function () {
            prepareRoutePoints();
        });
        }
</script> 
}