@{
    ViewBag.Title = "kote.travel - Все новости";
}
@model List<WorkWithKOTE.Models.News>

@{ Html.RenderPartial("HeaderPartial_main");}
@Styles.Render("~/Content/order")

<style>
    .myButton{
      padding: 6px;
      color: white !important;
      border-radius : 4px;
      background-color : #ff6f40;
      border : 1px solid #ff6f40;
      color : white;
      height : 30px;
      cursor : pointer;
      min-width : 70px;
    }

    .container{
        margin-left : 21%;
    }
</style>

<div id="small-preview-img" class="clearfix">

    <hgroup>
        <h1>Все новости</h1>

        <h2><a href="@Url.Action("Index", "Home")">Главная</a> / <span id="currentZ">Новости</span>
</h2>
    </hgroup>

</div>
<div class="container">
@foreach(var item in Model)
{
    <h2>@Html.DisplayFor(m => item.NewsTitle)</h2><br />
    @Html.Raw(item.NewsBody)<br />
    @Html.DisplayFor(m => item.NewsDate)<br /><br/>
    if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
    {
        <a style="float:none" class="myButton" href='@Url.Action("NewsDelete", new { id = item.NewsId })'>Удалить новость</a>
    }
    <hr />
}
</div>