@{
    ViewBag.Title = "Все новости";
}
@model List<WorkWithKOTE.Models.News>

@{ Html.RenderPartial("HeaderPartial_main");}
@Styles.Render("~/Content/order")

<div id="small-preview-img" class="clearfix">

    <hgroup>
        <h1>Все новости</h1>

        <h2><a href="@Url.Action("Index", "Home")">Главная</a> / Новости
        </h2>
    </hgroup>

</div>
<div class="container">
@foreach(var item in Model)
{
    <h2>@Html.DisplayFor(m => item.NewsTitle)</h2><br />
    @Html.Raw(item.NewsBody)<br />
    @Html.DisplayFor(m => item.NewsDate)<br />
    if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
    {
        <a style="float:none" class="button" href='@Url.Action("NewsDelete", new { id = item.NewsId })'>Удалить новость</a>
    }
    <hr />
}
</div>