@{
    ViewBag.Title = "Создать новость";
}
@model WorkWithKOTE.Models.News
@{ Html.RenderPartial("HeaderPartial_main");}
@Styles.Render("~/Content/form")
@Styles.Render("~/Content/order")
<script src="~/Scripts/ckeditor/ckeditor.js"></script>

<style>
    .container{
        margin-left : 18.7%;
    }
</style>

<div id="small-preview-img" class="clearfix">

    <hgroup>
        <h1>Создать новость</h1>

        <h2><a href="@Url.Action("Index","Home")">Главная</a> / <span id="currentZ">Новости</span></h2>
    </hgroup>

</div>
<div class="container">
    <form id="form_tour" action="@Url.Action("CreateNews","News")" method="post" enctype="multipart/form-data">

        <span class="textbox">
            Заголовок новости: @Html.TextBoxFor(m => m.NewsTitle)
        </span><br />

        <span class="textbox">
            Краткое описание: @Html.TextAreaFor(m => m.NewsContent)
        </span><br />

        <span class="textbox">
            Контент новости: @Html.TextAreaFor(m => m.NewsBody)
        </span><br />

        <span class="textbox">
            @Html.HiddenFor(m => m.NewsDate)
        </span><br />

        <input id="createNews" type="submit" value="Создать Новость" /><br /><br />

    </form>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        CKEDITOR.replace("NewsBody", {
            filebrowserBrowseUrl: '/Scripts/Filemanager-master/index.html'
        });
    </script>
}
