@{
    ViewBag.Title = "CreateNews";
}
@model WorkWithKOTE.Models.News
@Styles.Render("~/Content/form")

<script src="~/Scripts/ckeditor/ckeditor.js"></script>

<form id="form_tour" action="@Url.Action("CreateNews","News")" method="post" enctype="multipart/form-data">
    <h2>Создать новость</h2>

    <span class="textbox">
        Заголовок новости: @Html.TextBoxFor(m => m.NewsTitle)
    </span><br />

    <span class="textbox">
        Краткое описание: @Html.TextAreaFor(m => m.NewsContent)
    </span><br />

    <span class="textbox">
        Контент новости: @Html.TextAreaFor(m => m.NewsBody)
    </span><br />

    <span class="textbox">
        @Html.HiddenFor(m => m.NewsDate)
    </span><br />
             
    <input id="createNews" type="submit" value="Создать Новость" /><br/><br/>

</form>

@section scripts{
  @Scripts.Render("~/bundles/jqueryval")
   <script>
       CKEDITOR.replace("NewsBody", {
           filebrowserBrowseUrl: '/Scripts/Filemanager-master/index.html'
       });
</script>
}
