@{
    ViewBag.Title = "NewsBlock";
}
@model WorkWithKOTE.Models.News
@{ Html.RenderPartial("HeaderPartial_main");}
@Styles.Render("~/Content/order")
<div id="small-preview-img" class="clearfix">

    <hgroup>
        <h1>@Html.DisplayFor(m => m.NewsTitle)</h1>

        <h2><a href="@Url.Action("Index","Home")">Главная</a> / Новости</h2>
    </hgroup>

</div>
<div class="container">
    <div class="layout-right-column">
        <div class="social">
            <div class="repost">
                <p>
                    Поделиться:
                    <img src="~/Content/img/facebook.png">
                    <img src="~/Content/img/twitter.png">
                    <img src="~/Content/img/google.png">
                </p>
            </div>
            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
            {
                <a  class="button" href='@Url.Action("NewsDelete", new {id = Model.NewsId })'>Удалить новость</a>
            }
        </div>
    </div>
    <div class="layout-main">
        @Html.Raw(Model.NewsBody)
    </div>
    <div style="margin-top: 10px">
        @Html.DisplayFor(m => m.NewsDate)
    </div>
</div>

<hr />