@{
    ViewBag.Title = "NewsBlock";
}
@model WorkWithKOTE.Models.News
@{ Html.RenderPartial("HeaderPartial_main");}
@Styles.Render("~/Content/order")

<style>
    .container{
        margin-left : 21%;
    }

    .deleteNews{
      padding: 5px;
      color: white !important;
      border-radius : 4px;
      background-color : #ff6f40;
      border : 1px solid #ff6f40;
      color : white;
      height : 30px;
      cursor : pointer;
      min-width : 70px;
      margin-top : 5px;
    }
</style>

<div id="small-preview-img" class="clearfix">

    <hgroup>
        <h1>@Html.DisplayFor(m => m.NewsTitle)</h1>

        <h2><a href="@Url.Action("Index","Home")">Главная</a> / <span id="currentZ">Новости</span></h2>
    </hgroup>

</div>
<div class="container">
    <div class="layout-right-column">
        <div class="social" style="text-align:center">
            <div class="repost" style="text-align:center">
                <p>
                    <span class="share">Поделиться:</span>
                    <img src="~/Content/img/facebook.png">
                    <img src="~/Content/img/twitter.png">
                    <img src="~/Content/img/google.png">
                </p><br/>
                @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    <a class="deleteNews" href='@Url.Action("NewsDelete", new {id = Model.NewsId })'>Удалить</a>
                }
            </div>
        </div>
    </div>
    <div class="layout-main">
        @Html.Raw(Model.NewsBody)
    </div>
    <div style="margin-top: 10px">
        @Html.DisplayFor(m => m.NewsDate)
    </div>
</div>

<hr/>

<script>
    $(function ()
    {
        if ($('#bar').width() <= 500) {
            $('.share').hide();
        }
        else {
            $('.share').show();
        }

        $(window).resize(function ()
        {
            if ($('#bar').width() <= 500) {
                $('.share').hide();
            }
            else {
                $('.share').show();
            }
        });
    });
</script>