@{
    ViewBag.Title = "SearchAllUsers";
}
@model IEnumerable<WorkWithKOTE.Models.UserProfile>
@Styles.Render("~/Content/order")

@{ Html.RenderPartial("HeaderPartial_main");}
<div id="small-preview-img" class="clearfix">
    <hgroup>
        <h1>Поиск пользователей</h1>
        <h2>
            <a href="@Url.Action("Index", "Home")">Главная</a> / Поиск
        </h2>
    </hgroup>
</div>
<div class="container">
    <div class="layout">
        <form method="post" action="@Url.Action("SearchAllUsers")">

            <div class="layout-left-column">
                <p>Email </p>
                <input style="width:96%" name="mail" />
                <p>Имя</p>
                <input style="width:96%" name="name" />
                <p>Фамилия</p>
                <input style="width:96%" name="surname" />
                <p>Возраст</p>
                <input style="width:96%" name="age" />
                <p>Пол</p>
                    @Html.DropDownList("sex", new List<SelectListItem> { new SelectListItem { Text = "Мужской" }, new SelectListItem { Text = "Женский" } }, "Любой пол")<br />
                <a href="#" class="button" onclick=" $(this).closest('form').submit(); return false;">Поиск</a>
            </div>
            <div class="layout-main-right">
                <div class="found-tour">
                    @{
                        int index = 0;
                        bool flag = true;
                    }
                    @{ int max = Model.Count(); }
                    @foreach (var item in Model)
                    {
                        if (index >= max / 2 && flag)
                        {
                            flag = false;
                            @:</div>
                        @:<div class="found-tour">
                        }
                        <div style="margin-bottom: 15px; width: 250px; border: 1px solid #ccc; padding: 5px">
                            <h4>
                                @Html.DisplayFor(m => item.Email)
                            </h4>
                            <img style="height: 150px; width: 150px;  left: 0; right: 0; margin: auto; border-radius: 50%; padding: 5px" src="@Html.DisplayFor(m => item.Avatar)">
                            <p>  Имя : @Html.DisplayFor(m => item.RuFirstName)  </p> 
                            <p>Фамилия : @Html.DisplayFor(m => item.RuSecondName)</p>
                            <p> Дата рождения: @Html.DisplayFor(m => item.Birthday)</p>
                            <p>Бонусы :@Html.DisplayFor(m => item.Bonus)</p>
                                @*                            <a class=" button " style="float: none; margin-top: 10px" href='@Url.Action("Index", "TourDisplay", new {id = c.TourId})'>Просмотреть тур</a>*@
</div>
                                        index++;
                    }
                </div>
            </div>
        </form>
    </div>
</div>