@{
    ViewBag.Title = "SearchAllUsers";
}
@model IEnumerable<WorkWithKOTE.Models.UserProfile>
@Styles.Render("~/Content/order")

<style>
    .container{
        margin-left : 21.2%;
    }

    .myBtn{
        cursor : pointer;
        background : #ff6a00 !important;
        color : white !important;
        padding : 5px;
        border-radius : 4px;
        margin-top : 5px;
    }

    .peopleName{
        font-size : 18px;
    }
     
    .open{
         margin-left : -21.2% !important;
     }


     #filter{
       display:none;
       position: fixed;
       float: right;
       text-align: right;
       left : -37px;
       cursor: pointer;
       background-color: #ff6f40;
       color: white !important;
       transition: 0.5s;
       padding-right: 15px;
       padding-left: 15px;
       margin-top: 19px;
       padding-bottom: 7px;
       padding-top: 10px;
       width : 110px;
     }

     .rotate{
       -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
       -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
     }
</style>

@{ Html.RenderPartial("HeaderPartial_main");}
<div id="small-preview-img" class="clearfix">
    <hgroup>
        <h1>Поиск пользователей</h1>
        <h2>
            <a href="@Url.Action("Index", "Home")">Главная</a> / Поиск
        </h2>
    </hgroup>
</div>
<div class="container">
    <div class="layout">
        <form method="post" action="@Url.Action("SearchAllUsers")">

            <div class="layout-left-column">

                <p class="rotate" id="filter">Ф и л ь т р</p>

                <p>Email </p>
                <input style="width:96%" name="mail" />
                <p>Имя</p>
                <input style="width:96%" name="name" />
                <p>Фамилия</p>
                <input style="width:96%" name="surname" />
                <p>Возраст</p>
                <input style="width:96%" name="age" />
                <p>Пол</p>
                @Html.DropDownList("sex", new List<SelectListItem> { new SelectListItem { Text = "Мужской" }, new SelectListItem { Text = "Женский" } }, "Любой пол")<br /><br />
                <a id="searCH" style="margin-left:6px" class="myBtn" onclick=" $(this).closest('form').submit(); return false;">Поиск</a>
            </div>
            <div class="layout-main-right">
                <div class="found-tour">
                    @{
                        int index = 0;
                        bool flag = true;
                    }
                    @{ int max = Model.Count(); }
                    @foreach (var item in Model)
                    {
                        if (index >= max / 2 && flag)
                        {
                            flag = false;
                            @:</div>
                        @:<div class="found-tour">
                        }
                        <div class="profBlock" style="margin-bottom: 15px; width: 100%; min-width:200px; border: 1px solid #ccc; padding: 5px">
                            <h4 class="peopleName" style="text-align:center;">
                                @Html.DisplayFor(m => item.Email)
                            </h4>
                            <img style="height: 150px; width: 150px;  left: 0; right: 0; margin: auto; border-radius: 50%; padding: 5px" src="@Html.DisplayFor(m => item.Avatar)">
                            <p>Имя : @Html.DisplayFor(m => item.RuFirstName)  </p>
                            <p>Фамилия : @Html.DisplayFor(m => item.RuSecondName)</p>
                            <p>Дата рождения: @Html.DisplayFor(m => item.Birthday)</p>
                            <p>Бонусы : <span style="color:#00C853">@Html.DisplayFor(m => item.Bonus)</span></p>
                            <input class="myBtn" type="button" value="Перейти к профилю" onclick="location.href='@Url.Action("Profile", "Profile", new {id = item.UserId})'" />
                        </div>
                        index++;
                    }
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(function ()
    {
        $('#filter').click(function () {
            if (!$('.layout-left-column').hasClass('open')) {
                $('#filter').css('left', '177.6px');
            }
            else {
                $('#filter').css('left', '-37px');
            }
            $('.layout-left-column').toggleClass('open');
            $('.layout-left-column').css('transition','0.5s');
        });

        if ($('#bar').width() <= 800) {
            $('#filter').show();
            $('.layout-left-column').css({ 'float': 'auto','min-width':'215px','max-width':'215px', 'width': '95%','margin-left':'-100%','top': '104px','position':'fixed','z-index':'4','padding-bottom': '15px'});
            $('.layout-main-right').css({ 'margin-left': '0px', 'width': '80%', 'margin-top': '30px' });
            $('.profBlock').css({ 'width': '80%' });
            $('#searCH').css('margin-bottom', '15px');
            $('.peopleName').css('font-size','16px');
        }
        else {
            $('#filter').hide();
            $('.layout-left-column').css({ 'float': 'left','min-width':'auto','max-width':'auto','width': '30%', 'padding-bottom': '15px' });
            $('.layout-main-right').css({ 'margin-left': '33%', 'width': '67%', 'margin-top': '0px' });
            $('.profBlock').css({ 'width': '100%' });
            $('.peopleName').css('font-size','18px');
        }

        $(window).resize(function () {
            if ($('#bar').width() <= 800) {
                $('#filter').show();
                $('.layout-left-column').css({ 'float': 'auto','min-width':'215px','max-width':'215px', 'width': '95%','margin-left':'-100%','top': '104px','position':'fixed','z-index':'4','padding-bottom': '15px'});
                $('.layout-main-right').css({ 'margin-left': '0px', 'width': '80%', 'margin-top': '30px' });
                $('.profBlock').css({ 'width': '80%' });
                $('#searCH').css('margin-bottom', '15px');
                $('.peopleName').css('font-size','16px');
            }
            else {
                $('#filter').hide();
                $('.layout-left-column').css({ 'float': 'left','min-width':'auto','max-width':'auto','width': '30%', 'padding-bottom': '15px' });
                $('.layout-main-right').css({ 'margin-left': '33%', 'width': '67%', 'margin-top': '0px' });
                $('.profBlock').css({ 'width': '100%' });
                $('.peopleName').css('font-size','18px');
            }
        });
    });
</script>