@model WorkWithKOTE.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

        <div class="loginEl" id="login">
            @Html.Label("Текущий пароль : ", new { @for = "OldPassword" })
            @Html.PasswordFor(m => m.OldPassword)
        </div>

        <div class="loginEl" id="password">
            @Html.Label("Новый пароль : ", new { @for = "NewPassword" })
            @Html.PasswordFor(m => m.NewPassword)
        </div>

        <div class="loginEl" id="confirm">
            @Html.Label("Подтвердить пароль : ", new { @for = "ConfirmPassword" })
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>

        <input id="changePassword" type="submit" value="Изменить пароль" />
}
