@model WorkWithKOTE.Models.LoginModel
@{
    ViewBag.Title = "Log in";
    Layout = "../Shared/_Layout.cshtml";
 }
@Styles.Render("~/Content/form")
@Styles.Render("~/Content/order")

<style>
    #login,#password,#rememberME{
        clear:both; text-align:right;
    }

    label,#form_tour{
        float : left;
    }

    label{
        font-size : 17px;
        margin-top : 12px;
        cursor : pointer;
    }

    #form_tour{
        margin-left : 11.7%;
    }

    input[type=text]{
        padding-left : 5px;
         margin-left : 10px;
    }

    input[type=password]{
        text-align : left !important;
        margin-left : 10px;
        padding-left : 5px;
    }

    input[type=checkbox] {
        float : left;
        margin-top : 14px !important;
        margin-left : 0px !important;
    }

      input[type=checkbox] {
         margin-left: 10px !important;
         margin-top: 16px !important;
    }

    #logination,.alternateBnt{
      padding: 6px;
      color: white !important;
      border-radius : 4px;
      background-color : #ff6f40;
      border : 1px solid #ff6f40;
      color : white;
      height : 30px;
      cursor : pointer;
      min-width : 70px;
    }

    #loginBox{
        display: flex;
        margin-left: 0px;
        margin-top : 50px;
    }

    #alternate{
        margin-top : 20px;
        float: left;
        display: block;
        width: 100%;
        margin-left: 11.7%;
    }

    .links{
        font-size : 18px;
        text-decoration : underline;
        margin-top: 13px;
    }

    #socialLoginList{
        margin-bottom : 15px;
        margin-top : 5px;
    }

    #alternateText{
        font-size : 19px;
    }

    .field-validation-error > span {
        display : block
    }

    .Vkontakte{
       border-radius: 4px;
       margin-top : 5px;
       height: 33.5px;
       font-size: 14px;
       background : #6383a8 no-repeat;
       background-image : url("/Content/img/vk.png");     
       color : white;
       width : 212px;
       text-align : right;
       border : 1px solid #6383a8;
    }

    .facebook{
       margin-top: 5px;
       border-radius: 4px;
       height: 33.5px;
       font-size: 14px;
       background : #6383a8 no-repeat;
       background-image : url("/Content/img/facebook.png");     
       color : white;
       width : 202px;
       text-align : right;
       border : 1px solid #6383a8;    
    }
</style>

@{ Html.RenderPartial("HeaderPartial_main");}

<div id="small-preview-img" class="clearfix">
    <hgroup>
        <h1>Вход</h1>
        <h2>@Html.ActionLink("Главная", "Index", "Home", null, null) / <span id="currentZ">Вход</span> </h2>
    </hgroup>
</div>

<div class="container">
 <section id="loginForm">

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div id="form_tour">
        
        <div class="loginEl" id="login">
          @Html.Label("E-mail : ", new { @for = "Email" })
          @Html.TextBoxFor(m => m.Email)
          @Html.ValidationMessageFor(m => m.Email)
        </div>
        
        <div class="loginEl" id="password">
            @Html.Label("Пароль : ", new { @for = "Password" })
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div> 

        <div class="loginEl" id="rememberME">
            @Html.Label("Запомнить меня : ", new { @for = "RememberMe" })
            @Html.CheckBoxFor(m => m.RememberMe)
        </div>

        <div id="loginBox" class="loginEl" >
            <input id="logination" class="loginEl" type="submit" value="Войти" /><br/><br/>
        </div>

        <p class="links">@Html.ActionLink("Регистрация", "Register")</p>
        <p class="links">@Html.ActionLink("Забыли пароль?!", "ForgotPassword", "Profile")</p>
    </div>           
}
     <div id="alternate">
         <section class="social" id="socialLoginForm">
             <span id="alternateText">Использовать другой сервис для входа</span>
             @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
         </section>
     </div>
 </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
