@model IEnumerable<WorkWithKOTE.Models.Tour>
@using WorkWithKOTE.Code

<style>
    .transportSelect input[type=checkbox]{
        display: inline;
    }
</style>

<div class="searchForm">
    @if (ViewBag.Counter == 0)
    {
       @* <label> Возвращения</label>
        <input type="date" name="DateSecond"/>*@
        
        <div> Тип транспорта
            <div class="transportSelect">
                @Html.CheckBox("IsBus") <label for="IsBus">Автобус</label><br/>
                @Html.CheckBox("IsShip") <label for="IsShip">Лайнер</label><br/>
                @Html.CheckBox("IsTrain") <label for="IsTrain">Поезд</label><br/>
                @Html.CheckBox("IsAriplane") <label for="IsAriplane">Самолет</label>
            </div>
        </div>

        foreach (var item in DropDown.Tags())
        {
            if (!String.IsNullOrEmpty(item.Text))
            {
                <input type="checkbox" name="Tags" value="@item.Text"/>
                <label>@item.Text</label>
            }
        }
    }
    
    @if (ViewBag.Counter == 1)
    {
       @* <label> Возвращения</label> <input type="date" name="DateSecond" /> *@

        if (Model.Any())
        {
            <div> Тип транспорта
                <div class="transportSelect">
                    @foreach (var item in Model)
                    {
                        int B = 0;
                        int S = 0;
                        int T = 0;
                        int A = 0;

                        if (item.IsBus && B == 0)
                        {
                          @Html.CheckBox("IsBus") <label>Автобус</label> B++;
                        }

                        if (item.IsShip && S == 0)
                        {
                          @Html.CheckBox("IsShip") <label>Лайнер</label> S++;
                        }

                        if (item.IsTrain && T == 0)
                        {
                          @Html.CheckBox("IsTrain") <label>Поезд</label> T++;
                        }

                        if (item.IsAriplane && A == 0)
                        {
                          @Html.CheckBox("IsAriplane") <label>Самолет</label> A++;
                        }

                    }
                </div>
            </div>

            foreach (var item in ViewBag.Tags)
            {
                if (!String.IsNullOrEmpty(item))
                {
                    <input type="checkbox" name="Tags" value="@item"/>
                    <label>@item</label>
                }
            }

            if (ViewBag.PlaceDeparture != null)
            {
                <select name="PlaceDepartmen">
                    <option selected>Город выезда</option>
                    @foreach (var item in ViewBag.PlaceDeparture)
                    {
                        <option>@item</option>
                    }
                </select>
            }
        }
    }

    <input type="date" name="DateFirst" />
    <input type="date" name="DateSecond" />
    <input type="text" name="MinValue" value="1000" />
    <input type="text" name="MaxValue" value="3000"/>

    <input type="submit" value="Искать" />
</div>

    <div id="target2">
        @foreach (var c in Model)
        {
            <h3>От @Html.DisplayFor(m => c.Cost)&nbsp;@Html.DisplayFor(m => c.Valuta)</h3><br />
            <a href='@Url.Action("Index", "TourDisplay", new {id = c.TourId})'>
                <img class="tourImg" style="max-height: 150px; max-width: 250px" src="@Html.DisplayFor(m => c.TourImg)" />
            </a>
            <a class="titleTour" href='@Url.Action("Index", "TourDisplay", new {id = c.TourId})'> @Html.DisplayFor(m => c.NameTour)</a>
            <div class="date-select mini">
                <label style="margin-left: -23px;">
                    <select id="selectDate">
                        @foreach (var item in c.DateTour)
                        {
                            <option>
                                @Html.DisplayFor(m => item.FirstDate) - @Html.DisplayFor(m => item.SecondDate)
                            </option>
                        }
                    </select>
                </label>
            </div>
        }
    </div>