@{
    ViewBag.Title = "Home Page";
}
@using WorkWithKOTE.Controllers
@model WorkWithKOTE.Models.TourForHomePage
@Styles.Render("~/Content/page")
@{ Html.RenderPartial("HeaderPartial_main");}

<div id="big-preview-img" class="clearfix">
    <div class="wish">
        
        <img style="display:none;" id="big-logo" />

        <p style="display:none;" id="wishletter">
            <span id="textspan">Я хочу...<br /></span>
            <span id="textspan1">
                <span id="to"></span><span id="from"></span>
            </span>
        </p>

      <ul id="switchTour">
        @foreach (var item in Model.TourMain)
        {
          <li style="list-style-type: none;" data-id="@item.TourId" data-src="@item.TourImg" data-baf="@item.BigLogo.UrlImg" data-to="@item.PlaceOfArrival" data-from="@item.PlaceOfDeparture"></li>     
        }
      </ul>

        <div style="display:none;" class="buttons clearfix">
            <a id="confirmTour" href="@Url.Action("Index","TourDisplay")" class="yes-btn">
                <span id="textspan2">Да,</span> <span> Я хочу&#x21;</span>
            </a>
            <a id="anotherTour" href="" class="no-btn">
                <span id="textspan5">Нет,</span> <span> что-то другое</span>
            </a>
        </div>
    </div>
    <div class="scroll clearfix">
        <p class="scroll-text">
            Скроль<br />вниз
        </p>
    </div>
</div>
@{Html.RenderAction("NewsBlock");}
<div class="groups-bg clearfix">
    <div class="groups clearfix" id="second-nav">
        <div class="groupLinks">
            <span id="textspan30">Туры&#x3a;</span>
            <a href="#first">туры по Украине</a>
            <a href="#second">Грузия</a>
            <a href="#third">Приключенческие</a>
        </div>
        <div class="middleHelper"></div>
    </div>
    <div class="centerbox clearfix">
        <p class="consultLinks">
            Используйте сервис
            @Html.ActionLink("поиска", "Search", "TourSearch", null, new { @class = "link-btn" })
            для подбора тура
        </p>
    </div>
</div>

<div class="tourGroup clearfix">
    <h1 class="groupTitle" id="first">
        Туры по Украине
    </h1>
    @if (Model.TourHightPrev != null) { 
             <div class="mainTours">
    <div class="tour clearfix">
        <div class="tourName">
            <a href="@Url.Action("Index", "TourDisplay", new { id = Model.TourHightPrev.TourId })">
                <img src="@Html.DisplayFor(item => item.TourHightPrev.TourImg)" class="groupMainPreview image">
            </a>
            <h2 class="tourTitle">@Html.DisplayFor(item => item.TourHightPrev.TitleTour)</h2>
        </div>
        <div class="tourInfo">
            <p class="tourDescription">
                Тур&#x3a; &nbsp;Автобусный<br />
                @{ Html.RenderAction("DateForCurrentTour", new { id = Model.TourHightPrev.TourId }); }<br /><br />
                @Html.DisplayFor(item => item.TourHightPrev.PlaceOfDeparture)<span class="arr"></span>@Html.DisplayFor(item => item.TourHightPrev.PlaceOfArrival)
            </p>
        </div>
        <div class="tourPrice">
            <div>
                От <span class="boldPrice">@Html.DisplayFor(item => item.TourHightPrev.Cost)</span> @Html.DisplayFor(item => item.TourHightPrev.Valuta).
                <p class="smallDescription">
                    Актуальная стоимость тура формируется в&nbsp;корзине услуг
                    после
                    нажатия &#x27;Купить&#x27;.
                </p>
            </div>
            <div class="more clearfix">
                <a href="@Url.Action("Index", "TourDisplay", new {id=Model.TourHightPrev.TourId })" class="biglink-btn">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="recommendedTours clearfix">
        <p class="recommendedTitle">
            Мы рекомендуем&#x3a;
        </p>
        <div class="recommendedTour">
            <p class="recommendedLink">
                <a href="#" class="new-title">Вегетарианское кафе во Львове.</a><br />
                <span class="where">Украина, Львов</span>
            </p>
        </div>
        <div class="recommendedTour">
            <p class="recommendedLink">
                <a href="#" class="new-title">Вегетарианское кафе во Львове.</a><br />
                <span class="where">Украина, Львов</span>
            </p>
        </div>
        <div class="recommendedTour">
            <p class="recommendedLink">
                <a href="#" class="new-title">Вегетарианское кафе во Львове.</a><br />
                <span class="where">Украина, Львов</span>
            </p>
        </div>
    </div>
</div>
    }
    <div class="subTours">
        @{int counter = 0;}
        @foreach (var item in Model.TourHight)
        {
            if (counter > 1)
            {
                break;
            }
            counter++;
            <div class="tour clearfix">
                <div class="tourName">
                    <a href="@Url.Action( "Index","TourDisplay", new {id=item.TourId})"><img src="@Html.DisplayFor(m => item.TourImg)" class="groupSubPreview image"></a>
                    <h2 class="tourTitle">@Html.DisplayFor(m => item.TitleTour)</h2>
                </div>
                <div class="tourInfo">
                    <p class="tourDescription">
                        Тур&#x3a; &nbsp;Автобусный<br />
                        @*                Дни&#x3a; &nbsp;4<br />*@
                        @{ Html.RenderAction("DateForCurrentTour", new { id = item.TourId }); }<br /><br />
                        @Html.DisplayFor(m => item.PlaceOfDeparture)<span class="arr"></span>&nbsp;@Html.DisplayFor(m => item.PlaceOfArrival)
                    </p>
                </div>
                <div class="tourPrice">
                    <p class="tourDescription">
                        От&nbsp;<span class="boldPrice">@Html.DisplayFor(m => item.Cost)</span>&nbsp;@Html.DisplayFor(m => item.Valuta).<br />
                    </p>
                </div>
            </div>
        }
         @*  @{ Html.RenderAction("SubTour", new { id = 1 });}*@
    </div>
    </div>
<div class="groups-bg clearfix">
    <p class="consultLinks">
        <span class="subscribe-title">Подпишитесь на нашу рассылку<br /></span>будьте в курсе интересных предложений
        и горящих туров
    </p>

    <form class="mailform">
        <div class="mailsender">
            <input class="mail-input" type="text" name="mail-input" placeholder="Почта" />
            <input class="mail-submit" type="submit" value="" />
        </div>
    </form>
</div>
<div class="tourGroup clearfix">
    <h1 class="groupTitle" id="second">
        Туры в Грузию
    </h1>
    @if (Model.TourCenterPrev != null) { 
    <div class="mainTours">
    <div class="tour clearfix">
        <div class="tourName">
            <a href="@Url.Action( "Index","TourDisplay", new {id=Model.TourCenterPrev.TourId})">
                <img src="@Html.DisplayFor(item => item.TourCenterPrev.TourImg)" class="groupMainPreview image">
            </a>
            <h2 class="tourTitle">@Html.DisplayFor(item => item.TourCenterPrev.TitleTour)</h2>
        </div>
        <div class="tourInfo">
            <p class="tourDescription">
                Тур&#x3a; &nbsp;Автобусный<br />
                @*                            Дни&#x3a; &nbsp;4<br />*@
                @{ Html.RenderAction("DateForCurrentTour", new { id = Model.TourCenterPrev.TourId }); }<br /><br />
                @Html.DisplayFor(item => item.TourCenterPrev.PlaceOfDeparture)<span class="arr"></span>@Html.DisplayFor(item => item.TourCenterPrev.PlaceOfArrival)
            </p>
        </div>
        <div class="tourPrice">
            <div>
                От <span class="boldPrice">@Html.DisplayFor(item => item.TourCenterPrev.Cost)</span> @Html.DisplayFor(item => item.TourCenterPrev.Valuta).
                <p class="smallDescription">
                    Актуальная стоимость тура формируется в&nbsp;корзине услуг
                    после
                    нажатия &#x27;Купить&#x27;.
                </p>
            </div>
            <div class="more clearfix">
                <a href="@Url.Action("Index", "TourDisplay", new { id = Model.TourCenterPrev.TourId })" class="biglink-btn">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="recommendedTours clearfix">
        <p class="recommendedTitle">
            Мы рекомендуем&#x3a;
        </p>
        <div class="recommendedTour">
            <p class="recommendedLink">
                <a href="#" class="new-title">Вегетарианское кафе во Львове.</a><br />
                <span class="where">Украина, Львов</span>
            </p>
        </div>
        <div class="recommendedTour">
            <p class="recommendedLink">
                <a href="#" class="new-title">Вегетарианское кафе во Львове.</a><br />
                <span class="where">Украина, Львов</span>
            </p>
        </div>
        <div class="recommendedTour">
            <p class="recommendedLink">
                <a href="#" class="new-title">Вегетарианское кафе во Львове.</a><br />
                <span class="where">Украина, Львов</span>
            </p>
        </div>
    </div>
</div>
    }
    <div class="subTours">
        @{int counter1 = 0;}
        @foreach (var item in Model.TourCenter)
        {
            if (counter1 > 1)
            {
                break;
            }
            counter1++;
            <div class="tour clearfix">
                <div class="tourName">
                    <a href="@Url.Action( "Index","TourDisplay", new {id=item.TourId})"><img src="@Html.DisplayFor(m => item.TourImg)" class="groupSubPreview image"></a>
                    <h2 class="tourTitle">@Html.DisplayFor(m => item.TitleTour)</h2>
                </div>
                <div class="tourInfo">
                    <p class="tourDescription">
                        Тур&#x3a; &nbsp;Автобусный<br />
                        @*                Дни&#x3a; &nbsp;4<br />*@
                        @{ Html.RenderAction("DateForCurrentTour", new { id = item.TourId }); }<br /><br />
                        @Html.DisplayFor(m => item.PlaceOfDeparture)<span class="arr"></span>&nbsp;@Html.DisplayFor(m => item.PlaceOfArrival)
                    </p>
                </div>
                <div class="tourPrice">
                    <p class="tourDescription">
                        От&nbsp;<span class="boldPrice">@Html.DisplayFor(m => item.Cost)</span>&nbsp;@Html.DisplayFor(m => item.Valuta).<br />
                    </p>
                </div>
            </div>
        }
         @* @{ Html.RenderAction("SubTour", new {id = 2});}*@
    </div>
</div>
<div class="groups-bg clearfix">
    <p class="consultLinks">
        <span class="subscribe-title">Подпишитесь на нашу рассылку<br /></span>будьте в курсе интересных предложений
        и горящих туров
    </p>

    <form class="mailform">
        <div class="mailsender">
            <input class="mail-input" type="text" name="mail-input" placeholder="Почта"/>
            <input class="mail-submit" type="submit" value=""/>
        </div>
    </form>
</div>
<div class="tourGroup clearfix">
    <h1 class="groupTitle" id="third">
        Приключенческие туры
    </h1>
    @if (Model.TourDownPrev != null) { 
    <div class="mainTours">
    <div class="tour clearfix">
        <div class="tourName">
            <a href="@Url.Action("Index", "TourDisplay", new { id = Model.TourDownPrev.TourId })">
                <img src="@Html.DisplayFor(item => item.TourDownPrev.TourImg)" class="groupMainPreview image">
            </a>
            <h2 class="tourTitle">@Html.DisplayFor(item => item.TourDownPrev.TitleTour)</h2>
        </div>
        <div class="tourInfo">
            <p class="tourDescription">
                Тур&#x3a; &nbsp;Автобусный<br />
                @*                            Дни&#x3a; &nbsp;4<br />*@
                @{ Html.RenderAction("DateForCurrentTour", new { id = Model.TourDownPrev.TourId }); }<br /><br />
                @Html.DisplayFor(item => item.TourDownPrev.PlaceOfDeparture)<span class="arr"></span>@Html.DisplayFor(item => item.TourDownPrev.PlaceOfArrival)
            </p>
        </div>
        <div class="tourPrice">
            <div>
                От <span class="boldPrice">@Html.DisplayFor(item => item.TourDownPrev.Cost)</span> @Html.DisplayFor(item => item.TourDownPrev.Valuta).
                <p class="smallDescription">
                    Актуальная стоимость тура формируется в&nbsp;корзине услуг
                    после
                    нажатия &#x27;Купить&#x27;.
                </p>
            </div>
            <div class="more clearfix">
                <a href="@Url.Action("Index", "TourDisplay", new { id = Model.TourDownPrev.TourId })" class="biglink-btn">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="recommendedTours clearfix">
        <p class="recommendedTitle">
            Мы рекомендуем&#x3a;
        </p>
        <div class="recommendedTour">
            <p class="recommendedLink">
                <a href="#" class="new-title">Вегетарианское кафе во Львове.</a><br />
                <span class="where">Украина, Львов</span>
            </p>
        </div>
        <div class="recommendedTour">
            <p class="recommendedLink">
                <a href="#" class="new-title">Вегетарианское кафе во Львове.</a><br />
                <span class="where">Украина, Львов</span>
            </p>
        </div>
        <div class="recommendedTour">
            <p class="recommendedLink">
                <a href="#" class="new-title">Вегетарианское кафе во Львове.</a><br />
                <span class="where">Украина, Львов</span>
            </p>
        </div>
    </div>
</div>

    }
     <div class="subTours">
        @{int counter2 = 0;}
        @foreach (var item in Model.TourDown)
        {
            if (counter2 > 1)
            {
                break;
            }
            counter2++;
            <div class="tour clearfix">
                <div class="tourName">
                    <a href="@Url.Action( "Index","TourDisplay", new {id=item.TourId})"><img src="@Html.DisplayFor(m => item.TourImg)" class="groupSubPreview image"></a>
                    <h2 class="tourTitle">@Html.DisplayFor(m => item.TitleTour)</h2>
                </div>
                <div class="tourInfo">
                    <p class="tourDescription">
                        Тур&#x3a; &nbsp;Автобусный<br />
                        @*                Дни&#x3a; &nbsp;4<br />*@
                        @{ Html.RenderAction("DateForCurrentTour", new { id = item.TourId }); }<br /><br />
                        @Html.DisplayFor(m => item.PlaceOfDeparture)<span class="arr"></span>&nbsp;@Html.DisplayFor(m => item.PlaceOfArrival)
                    </p>
                </div>
                <div class="tourPrice">
                    <p class="tourDescription">
                        От&nbsp;<span class="boldPrice">@Html.DisplayFor(m => item.Cost)</span>&nbsp;@Html.DisplayFor(m => item.Valuta).<br />
                    </p>
                </div>
            </div>
        }
    </div>
  
</div>
<div id="media-bg" class="clearfix">
    <p class="consultLinks">
        <span class="subscribe-title">Галерея<br /></span>фото, видео. Cамые красивые места в мире
    </p>

    <div class="cont">
        <div id="box21">
            <div id="video-preview">
                <iframe width="100%" height="250px" src="https://www.youtube.com/embed/NmugSMBh_iI" frameborder="0"
                        allowfullscreen></iframe>
            </div>
            <div id="video-title" class="clearfix">
                <p id="video-title-date">27.04.2015</p>

                <p id="video-title-name">Видеоотчет германия - италия</p>
            </div>

            <div id="subscribe">
                <div class="align_center_to_left">
                    <div class="align_center_to_right">
                        <dl id="sub-nav">
                            <dt>Следите за нами&#x3a;</dt>
                            <dd><img id="youtube-ico" src="~/Content/img/youtube-ico.png" /></dd>
                            <dt>14&nbsp;579</dt>
                            <dd><img id="instagram-ico" src="~/Content/img/instagram-ico.png" /></dd>
                            <dt>6&nbsp;945</dt>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div id="box22">
            <img src="~/Content/img/photo3.jpg" class="gallery-preview" />
            <img src="~/Content/img/photo4.jpg" class="gallery-preview" />
            <img src="~/Content/img/photo1.jpg" class="gallery-preview" />
            <img src="~/Content/img/photo2.jpg" class="gallery-preview" />
        </div>
    </div>
</div>

<script>
    $(function ()
    {
        var index = 0;
        var confirmHref = $('#confirmTour').attr('href');

        // if no tours
        if (!$('#switchTour li').length) {
             $('#big-preview-img').css('background','url(/Content/img/zaglushka.jpg) no-repeat 50% 100% ');
        }
        else {
            // if tours length. Display 1-st tour
               $('.buttons.clearfix,#wishletter').css('display', 'inherit');
               $('#confirmTour').attr('href', '');
               $('#big-preview-img').css('background', 'url(' + $('#switchTour li').eq(index).attr('data-src') + ') no-repeat 50% 100% ');
               $('#textspan').css('display', 'inherit');
               $('#to').text('Тур в ' + $('#switchTour li').eq(index).attr('data-to'));
               $('#from').text(' из ' + $('#switchTour li').eq(index).attr('data-from'));
               $('#wishletter').before('<img id="big-logo" src="' + $('#switchTour li').eq(index).attr('data-baf') + '" />');
               $('#confirmTour').attr('href', confirmHref + '/' + $('#switchTour li').eq(index).attr('data-id'));
               index++;
        }

        // if  many tours. Switch tours
        if ($('#switchTour li').length > 1)
        {
            $('#anotherTour').click(function (event)
            {
                event.preventDefault();

                $('#big-preview-img').fadeTo(800, 0, function ()
                {
                    if (index <= $('#switchTour li').length - 1)
                    {
                        $('.buttons.clearfix,#wishletter').css('display', 'inherit');
                        $('#confirmTour').attr('href', '');
                        $('#big-preview-img').css('background', 'url(' + $('#switchTour li').eq(index).attr('data-src') + ') no-repeat 50% 100% ');
                        $('#textspan').css('display', 'inherit');
                        $('#to').text('Тур в ' + $('#switchTour li').eq(index).attr('data-to'));
                        $('#from').text(' из ' + $('#switchTour li').eq(index).attr('data-from'));
                        $('#wishletter').before('<img id="big-logo" src="' + $('#switchTour li').eq(index).attr('data-baf') + '" />');
                        $('#confirmTour').attr('href', confirmHref + '/' + $('#switchTour li').eq(index).attr('data-id'));
                        $('#big-preview-img').fadeTo(1000, 1);
                        index++;

                        // if last tour
                        if (index >= $('#switchTour li').length) {
                            index = 0;
                        }
                    }
                });
            });
        }
    });
</script>