@model WorkWithKOTE.Models.Tour

<div class="mainTours">
        <div class="tour clearfix">
            <div class="tourName">
                <a href="@Url.Action( "Index","TourDisplay", new {id=Model.TourId})">
                    <img src="@Html.DisplayFor(item => item.TourImg)" class="groupMainPreview image"></a>

                    <h2 class="tourTitle">@Html.DisplayFor(item => item.TitleTour)</h2>
</div>

            <div class="tourInfo">
                <p class="tourDescription">
                    Тур&#x3a; &nbsp;Автобусный<br />
                    @*                            Дни&#x3a; &nbsp;4<br />*@
                    @{ Html.RenderAction("DateForCurrentTour", new { id = Model.TourId }); }<br /><br />
                    @Html.DisplayFor(item => item.PlaceOfDeparture)<span class="arr"></span>@Html.DisplayFor(item => item.PlaceOfArrival)
                </p>
            </div>
            <div class="tourPrice">
                <div>
                    От <span class="boldPrice">@Html.DisplayFor(item => item.Cost)</span> @Html.DisplayFor(item => item.Valuta).
                    <p class="smallDescription">
                        Актуальная стоимость тура формируется в&nbsp;корзине услуг
                        после
                        нажатия &#x27;Купить&#x27;.
                    </p>
                </div>
                <div class="more clearfix">
                    <a href="@Url.Action("Index", "TourDisplay", new {id=Model.TourId })" class="biglink-btn">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="recommendedTours clearfix">
            <p class="recommendedTitle">
                Мы рекомендуем&#x3a;
            </p>

            <div class="recommendedTour">
                <p class="recommendedLink">
                    <a href="#" class="new-title">Вегетарианское кафе во Львове.</a><br />
                    <span class="where">Украина, Львов</span>
                </p>
            </div>
            <div class="recommendedTour">
                <p class="recommendedLink">
                    <a href="#" class="new-title">Вегетарианское кафе во Львове.</a><br />
                    <span class="where">Украина, Львов</span>
                </p>
            </div>
            <div class="recommendedTour">
                <p class="recommendedLink">
                    <a href="#" class="new-title">Вегетарианское кафе во Львове.</a><br />
                    <span class="where">Украина, Львов</span>
                </p>
            </div>
        </div>
</div>