@model IEnumerable<WorkWithKOTE.Models.News>
<div class="news clearfix">
    <div class="align_center_to_left">
        <div class="align_center_to_right">
            <div class="news-title">
                <h3>@Html.ActionLink("Новости","AllNewsBlock","News")</h3>
                <h4>будь в курсе всех событий</h4>
            </div><br/>

            <div style="width:100%; text-align:center; margin-left:50%;">
             <div class="news-block clearfix">
                @{int i = 0;}
                @foreach (var item in Model)
                {
                    if(i>3) {break;}
                    <article>
                        <a href="@Url.Action("NewsBlock", "News", new {id = item.NewsId })" class="new-title">@Html.DisplayFor(m => item.NewsTitle)<br/></a>
                        <span class="new-date">@Html.DisplayFor(m => item.NewsDate)<br /></span>
                        <span class="new-content">@Html.DisplayFor(m => item.NewsContent)</span>
                    </article>
                    i++;
                }
             </div>
            </div>
        </div>
    </div>
</div>